<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-admin}">
<head>
	<th:block layout:fragment="css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
			  rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
			  crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/adminpageComment.css}"/>	
	</th:block>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지-댓글리스트조회</title>
  <th:block layout:fragment="script">
     <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script th:inline="javascript" src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.2.js"
  					integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4="
  					crossorigin="anonymous"></script>  
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
  				integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
  				crossorigin="anonymous">
  				
  				const myModal = document.getElementById('myModal')
			    const myInput = document.getElementById('myInput')
			
			    myModal.addEventListener('shown.bs.modal', () => {
			      myInput.focus()
			    });
		  				
  				</script> 
  				
    <script th:inline="javascript">
		let isAllSelected = false;
	
	    function checkSelectAll()  {
		    // 전체 체크박스
		    const checkboxes 
		      = document.querySelectorAll('input[name="number"]');
		    // 선택된 체크박스
		    const checked 
		      = document.querySelectorAll('input[name="number"]:checked');
		    // select all 체크박스
		    const selectAll 
		      = document.querySelector('button[name="selectall"]');
		
		    if(checkboxes.length === checked.length)  {
		      isAllSelected = true;
		      selectAll.textContent = "전체 해제";
		    }else {
		      isAllSelected = false;
		    }
	
	    }
	
	    function selectAll(selectAll)  {
		    const checkboxes 
		      = document.getElementsByName('number');
		    // 선택된 체크박스
		    const checked 
		      = document.querySelectorAll('input[name="number"]:checked');
		
		    const selectBtn 
		      = document.querySelector('button[name="selectall"]');
		    
		    if(isAllSelected) {
		      checkboxes.forEach(checkbox => {
		        checkbox.checked = false;
		        selectBtn.textContent = "전체 선택";
		      });
		      isAllSelected = false;
		    } else {
		      checkboxes.forEach(checkbox => {
		        checkbox.checked = true;
		      });
		      isAllSelected = true;
		      selectBtn.textContent = "전체 해제";
		    }
		}		
	
	    $(function() {
		  
		  $("#btnChkDelete").on("click", function() {
			  let result= [];
			   
		      $('input[name="number"]:checked').each(function() {
				  	const chkList = {
						  datecourseNo: $(this).attr('datecourse-no'),
						  reviewNo : $(this).val()
					  }
					  console.log(chkList);
				result.push(chkList);
			});
 
			$.ajax({
				url: '/review/deleteReviewList',
				type: 'delete',
				data: {result : JSON.stringify(result)},
				success: function(obj) {
					alert("삭제되었습니다.");
					window.location.href="/review/adminpageComment";
				},
				error: function(e) {
					console.log(e);
				}
				
			}) 			  
		  });


		  $(".linkMain").on("click", function() {
			  const requestModal = {
				  datecourseNo: $(this).attr("datecourse-no"),
				  reviewNo : $(this).attr("review-no")
			  }
			 
			 console.log(requestModal);
   
			$.ajax({
				url: '/review/reviewModal',
				type: 'get',
				data: {requestModal : JSON.stringify(requestModal)},
				success: function(obj) {
					console.log(obj);
					$(".modal-header span").text(obj.item.getModal.reviewerId)
					$(".modal-body p").text(obj.item.getModal.reviewModfDate);
					$(".modal-body textarea").text(obj.item.getModal.reviewComment);
				},
				error: function(e) {
					console.log(e);
				}
				
			})
			  	
		  });
		  
			  
		  $("#modelBtnDelete").on("click", function() {
	      	alert("댓글이 삭제되었습니다.")
	      });
			
	      
	    });
	
	
	    function makeSnowflaske() {
	      const snowflake = document.createElement("div");
	
	      snowflake.classList.add("snowflake");
	      snowflake.style.left = `${Math.random() * window.screen.width}px`;
	    }
    
  	</script>
  </th:block>
</head>
<body>
	
	<!-- 메인 화면 -->
  		<div layout:fragment="content">
  		<div id="main-container">
    

    <!-- header -->
    

    <div id="wrapper01">

      <!-- 사이드메뉴 -->
      

          <!-- 메인 화면 -->
          <div id="div-wrapper-main">
            <!-- 페이지 제목 -->
            <div id="main-title">
              <h1 style="margin: 0; float: left;" >댓글 리스트</h1>
                 
            </div>
            <hr style="margin: auto; width: 80%;">

          <!-- 전체 선택 및 검색 기능 구현 -->
          <div id="searchChkForm">
            <div class="row" style="margin: auto;" >
              <div class="col" style="margin: 10px 10px 10px 0; padding-left: 0px;">
                <div style="float: left; height: 30px;">              
                  <button type="button" name='selectall' 
                    value='selectall'
                    onclick='selectAll(this)'>
                      전체 선택
                  </button>
                  <button id="btnChkDelete">삭제</button>
                </div>
              </div>
              <div class="col" style="margin: 10px 5px 10px 15px;">
                <form id="searchForm" action="/review/adminpageComment" 
                	class="row" style="justify-content: right; padding: 0px;">
                  <select th:id="searchCondition" name="searchConditionCmt" aria-labelledby="state" >
                    <option value="ALL">전체</option>
                    <option value="NAME">게시글 제목</option>
                    <option value="ID">아이디</option>
                    <option value="COMMENT">내용</option>
                  </select>&ensp;
                  <div id="searchDiv">
                    <input id="searchInput" type="text" name="searchKeywordCmt" th:value="${searchKeywordCmt}">&ensp;
                    <button style="height: 25px; padding: 0px; margin-bottom: 3px; width: 11%; background-color:white;"><img th:src="@{/images/search.png}" alt="" style="height: 25px; margin-bottom: 3px;"></button>
                  </div>                  
                </form>
              </div>
            </div>
          </div>

          <!-- 댓글 내용 출력 -->
          <div style="min-height: 400px;">
            <table class="table-bordered">
              <tr style="width: 100%;">
                <th scope="col" style="width: 6%;">선택</th>
                <th scope="col" style="width: 6%;">번호</th>
                <th scope="col" style="width: 20%;">게시글 제목</th>
                <th scope="col" style="width: 16%;">아이디</th>
                <th scope="col" style="width: 40%;">내용</th>
                <th scope="col" style="width: 12%;">작성일자</th>
              </tr>
              <tr th:each="review : ${reviewList}">
                <td>
                    <input type="checkbox" name='number' th:value='${review.reviewNo}' 
                    th:datecourse-no="${review.datecourseNo}"onclick='checkSelectAll()'>
                </td>
                <td th:text="${review.reviewNo}"></td>
                <td th:text="${review.datecourseNm}"></td>
                <td th:text="${review.reviewerId}"></td>
                <!-- 모달 출력하는 링크 -->
                <td><a href="#" class="linkMain" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                		th:text="${review.reviewComment}" th:review-no="${review.reviewNo}" th:datecourse-no="${review.datecourseNo}"></a></td>
                <td th:text="${review.reviewModfDate eq null ? '' : #strings.substring(review.reviewModfDate, 0, 10)}"></td>
              </tr>
              
              
              
             
                
            </table>
            <div style="width: 80%; margin: auto;">
              <span style="font-size: small; float: right;">총 댓글 갯수 : 
              	<span style="font-weight: bold; color: red;" th:text="${reviewList.getTotalElements}"></span>개
              </span>
            </div> 
          </div>
          <!-- 페이징 -->
          <br>
          <nav aria-label="Page navigation example" style="margin: auto; width: 80%;" >
            <ul class="pagination justify-content-center"
            	th:if="${reviewList.totalElements > 0}"
				th:with="pageNumber = ${reviewList.pageable.pageNumber},
						 pageSize = ${reviewList.pageable.pageSize},
						 totalPages = ${reviewList.totalPages},
						 startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
						 tempEndPage = ${startPage + pageSize - 1},
						 endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
              <li class="page-item" th:if="${pageNumber > 0}">
                <a class="page-link" th:href="@{/review/adminpageComment(
											page=${pageNumber - 1},
											searchConditionCmt=${searchConditionCmt},
											searchKeywordCmt=${searchKeywordCmt})}" 
									 aria-label="Previous">
                  <span aria-hidden="true">&lt;</span>
                </a>
              </li>
              <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
              	<a class="page-link" th:href="@{/review/adminpageComment(
											page=${page - 1},
											searchConditionCmt=${searchConditionCmt},
											searchKeywordCmt=${searchKeywordCmt})}" 
									 th:text="${page}"></a>
              </li>
              <li class="page-item" th:if="${pageNumber < totalPages - 1}">
                <a class="page-link" th:href="@{/review/adminpageComment(
											page=${pageNumber + 1},
											searchConditionCmt=${searchConditionCmt},
											searchKeywordCmt=${searchKeywordCmt})}"
									 aria-label="Next">
                  <span aria-hidden="true">&gt;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  </div>



  <!-- 모달 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- 아이디 출력 -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            <img th:src="@{/images/user.png}" alt="" style="height: 30px;">&ensp;
            <span></span> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <br>
        </div>

        <!-- 댓글 내용 출력 -->
        <div class="modal-body" style="text-align: center; width: 100%;">
          <p style="float: right; margin: 0px 10px 0px 0px;"></p>
          <textarea class="overflow-auto" readonly 
          style="width: 750px; height: 300px; resize: none;" >
          </textarea>
        </div>

        <!-- 삭제 -->
        <div class="modal-footer">        
          <button id="modelBtnDelete" type="button" aria-label="Close" data-bs-dismiss="modal">삭제</button>
        </div>
      </div>
    </div>
  </div>
</div>
	</div>
</body>
