<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
  <th:block layout:fragment="css">
  	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" th:href="@{/css/getCateDatecourse.css}"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  </th:block>
  
  <th:block layout:fragment="script">
  	  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47a1b106ab3eb419877b9f10cf48ce66&libraries=services"></script>
  	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  	  	const myModal = document.getElementById('myModal')
		const myInput = document.getElementById('myInput')
		
		  myModal.addEventListener('shown.bs.modal', () => {
		  myInput.focus()
		})
  	  </script>
	  <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
	  <script th:inline="javascript" src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	    <script th:inline="javascript">
			
		      /* 이미지 슬라이드 */
		      $(document).ready(function() {
			      $("#menu-img").bxSlider({
					touchEnabled : (navigator.maxTouchPoints > 0), // 이미지를 터치 가능하게 해줌.
			        slideWidth: 150,        // 이미지의 너비
			        maxSlides : 3,          // 이미지의 최대 노출 개수
			        minSlides : 2,          // 이미지의 최소 노출 개수
			        moveSlides : 1,         // 이미지의 이동 개수
			        slideMargin: 20,        // 이미지 사이의 마진
			        pager:false,            // 블릿의 유무, 기본값: true
			        infiniteLoop:false,     // 슬라이더 무한루프 여부
			        hideControlOnEnd: true, // 슬라이더 첫번재 마지막 버튼 감추기
			        controls:  true,        // 화살표 버튼 유무, 기본값: false
			      })     
		      })
		    
		    $(function(){
	        	$("#datecourseAdd").on("click", function(e) {
					if(loginUserId == 'anonymousUser') {
						e.preventDefault();
						alert("로그인 후에 이용하실 수  있습니다.")
						window.location.href="/user/login"
					}
	          		if($("#datecourseAdd-text").text() == "데이트 코스에 추가") { 
						  console.log("hi")
	            		const MyDateIns = {
						  datecourseNo: $("#datecourseAdd").attr('datecourse-no')
					  	}
					  	console.log(MyDateIns)
					  	
	            		$.ajax({
							// get방식: 서버에서 데이터를 요청할때, post방식: 서버의 리소스를 생성하거나, 업데이트할 때 사용
							url: '/datecourse/insertMyDatecourse',
							type: 'post',
							data: {MyDateIns : JSON.stringify(MyDateIns)},
							success: function(obj) {
								alert("내 데이트코스에 추가 하였습니다.");
								$("#datecourseAdd-text").text("데이트 코스에서 제외")
							},
							error: function(e) {
								console.log(e);
							}
						});
						
	            		
	          		}
	          		
		          	else if($("#datecourseAdd-text").text() == "데이트 코스에서 제외"){
						  console.log($("#datecourseAdd").attr('datecourse-no'))
		            	const MyDateDel = {
						  datecourseNo: $("#datecourseAdd").attr('datecourse-no')
					  	}
					  	$.ajax({
							url: '/datecourse/deleteMyDatecourse',
							type: 'delete',
							data: {MyDateDel : JSON.stringify(MyDateDel)},
							success: function(obj) {
								alert("내 데이트코스에서 제외되었습니다.");
							},
							error: function(e) {
								console.log(e);
							}
						});
						$("#datecourseAdd-text").text("데이트 코스에 추가")  
		          	}
		          	
	      		})
	      		
	      		// 사이트(하이퍼링크) 언더바 제거_인겸
		      	$("#datecourseOfficialSiteA").css("text-decoration","none");
	      		
	      		// 주차가능 유무_인겸
	      		if ($("#datecourseParkingYn").text() == 'Y') {
					  $("#datecourseParkingYn").text("가능")
				  } else {
					  $("#datecourseParkingYn").text("불가능");
				  }
				
				$(".datecourseMenuPrice").each(function() {
					var datecourseMenuPrice = $(this).text();
	      			var datecourseMenuPrice2 = datecourseMenuPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	      			$(this).text(datecourseMenuPrice2);
				})
				
				  
			      
				// 이미지 클릭 시 모달 우선순위 맨앞으로_인겸
				$(".getModalImageList").on("click", function() {
					$(".modal").css("z-index", 9999);
					
				})
				
				
		      		
	      	})
	      	
	      	function showModal(index) {
				$(".carousel-item").removeClass('active');
				$($(".carousel-item")[index - 1]).addClass('active');
			}
	      	$(function () {
                    /*global kakao*/
                    var container = document.getElementById("datecourse-map-container");
                    var options = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667),
                        level: 3
                    }

                    var map = new kakao.maps.Map(container, options);
                    var geocoder = new kakao.maps.services.Geocoder();

                    geocoder.addressSearch($("#datecourseAddr").text(), function (result, status) {
                        if (status != kakao.maps.services.Status.OK) {
                            return alert('Something wrong!');
                        }
                        if (status === kakao.maps.services.Status.OK) {
                            var coords = new kakao.maps.LatLng(
                                result[0].y, result[0].x);


                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            })
                            console.log(result)
                            console.log(status)
                            var content = '<div style="width:100%; text-align:center;"><b>' + result[0].road_address.building_name + '</b><br> -카카오 지도- </div>'

                            var infoWindow = new kakao.maps.InfoWindow({
                                content: content,
                                removable: true

                            })

                            infoWindow.open(map, marker)

                            map.setCenter(coords)
                        }

                    })

					// 엔터 시 네이버 검색 엔진_세혁인겸
					$("#cateDatecourseSearchInput").on("keyup", function(e) {
						
						if (e.keyCode == 13) {
							console.log($("#cateDatecourseSearchInput").val());
							let naverQueryUrl = "https://search.naver.com/search.naver?query=";
							let searchKeyword = $(this).val();
							
							let lastQueryUrl = naverQueryUrl + searchKeyword;
							
							$("#naverSearch").attr("href", lastQueryUrl);
							
							$("#naverSearch").get(0).click();
						}
					})
					
					// 댓글 입력 500자 제한_장찬영
                    $("#comment-text").on("keyup", function() {
				        if($("#comment-text").val().length > 500) {
				          	$("#comment-text").val($("#comment-text").val().substring(0, 500));
				          	alert("글자수는 500자까지 입력 가능합니다.");
				        }
				    });
					
					// 댓글 등록 및 출력_장찬영
					$("#comment-button").on("click", function() {
						const requestComment = {
							datecourseNo: $("#comment-button").attr('datecourse-no'),
							reviewComment: $("#comment-text").val()						
						}					
						console.log(requestComment);
						if($("#comment-text").val() == null || $("#comment-text").val() == "") {
							alert("댓글을 입력하세요");
						}
						else {
							
							$.ajax({
								url: '/review/insertReview',
								type: 'post',
								data: {requestComment : JSON.stringify(requestComment)},
								success: function(obj) {
									alert("댓글이 등록되었습니다.")														
									location.reload();
								},
								error: function(e) {
									console.log(e);
								}
							});
						}
						
					});
					
					// 댓글 삭제_장찬영
					$(".comment-delete-click").on("click", function() {
						const result = {
							datecourseNo: $(this).attr('datecourse-no'),
							reviewNo: $(this).attr('review-no')
						}						
						const datecourseNo = $(this).attr('datecourse-no')
						
						console.log(result);
						
						$.ajax({
								url: '/review/deleteReview',
								type: 'delete',
								data: {result : JSON.stringify(result)},
								success: function(obj) {
									alert("댓글이 삭제되었습니다.")
									window.location.href="/main/getCateDatecourse/" + datecourseNo
								},
								error: function(e) {
									console.log(e);
								}
						});
					});
          
					let btnFlag = true;
					
					// 댓글 수정_장찬영
					// 수정 글 클릭 시 수정 가능 상태로 변경_장찬영
					$(".comment-update-click").on("click", function() {				
						
						const cmtContainer = $(this).parent("div").parent("div").parent("div");
						
						if(btnFlag == true) {
							cmtContainer.children("div:last-child").children("div").children("textarea").attr('readonly', false);
							cmtContainer.children("div:last-child").children("div").children("textarea").css('border', '1px solid black');						
							cmtContainer.children("div:last-child").children("div").append('<button type="button" id="updateBtn">등록</button>');
							btnFlag = false;	
						}
																	
						console.log(btnFlag);
					});					
					
					// 생성된 버튼을 클릭 시 수정_장찬영
					$(document).on("click", "#updateBtn", function() {
						const cmtContainer = $(this).parent("div").parent("div").parent("div");
						const cmtTextarea = $(this).parent("div").children("textarea");
						const updateReview = {
							datecourseNo: cmtTextarea.attr('datecourse-no'),
							reviewNo: cmtTextarea.attr('review-no'),
							reviewComment: cmtTextarea.val()
						}
						console.log(updateReview);
						console.log($(this));
						const btn = $(this);
						$.ajax({
							url: '/review/updateReview',
							type: 'put',
							data: {updateReview : JSON.stringify(updateReview)},
							success: function(obj) {
								console.log(obj);
								alert("댓글이 수정되었습니다.")
								console.log($(this));
								cmtTextarea.text(obj.item.updateReview.reviewComment)
								cmtTextarea.attr('readonly', true);
								cmtTextarea.css('border', 'none')
								cmtContainer.children(".comment-right-top").children("comment-regdate").children("a").text(obj.item.updateReview.reviewComment.split('T')[0])
								
								//$(this).parent("div").parent("div").remove("button");
								$(btn).remove();
								btnFlag = true;
							},
							error: function(e) {
								console.log(e);
							}
						});
						console.log(btnFlag)
					});					
					// 댓글 갯수_장찬영
					console.log($(".review-cnt").val());
					$("#comment-cnt").text($(".review-cnt").val());
					
					if($(".review-cnt").val() < 6) {
						$(".comment-hide").hide();
					}
					else if($(".review-cnt").val() == null) {
						$(".comment-hide").hide();
						$("#comment-cnt").text(0);
						let htmlStr = "";
						htmlStr = `
							<div id="comment-none-wrapper">
								<p id="comment-none">첫번째 댓글의 주인이 되어보세요.</p>
							</div>
						`;
						$("#datecourse-comment-container").append(htmlStr);
						console.log("너 누구? : " + this);
					}
					
					$("#show").on("click", function() {
						if($("#show").text() === " 댓글 전체보기 ") {
							$(".comment-img").attr("src", "/images/down.png")
						}
						else if($("#show").text() === " 댓글 접기 ") {
							$(".comment-img").attr("src", "/images/upload.png")
						}
					});
        });
                
        // 네이버 검색 엔진_세혁인겸
        function fnSearchNaver() {
					let naverQueryUrl = "https://search.naver.com/search.naver?query=";
					let searchKeyword = $("#cateDatecourseSearchInput").val();
					
					let lastQueryUrl = naverQueryUrl + searchKeyword;
					
					
					// 엔터 시 네이버 검색 엔진_세혁인겸
					$("#cateDatecourseSearchInput").on("keyup", function(e) {
						
						if (e.keyCode == 13) {
							console.log($("#cateDatecourseSearchInput").val());
							let naverQueryUrl = "https://search.naver.com/search.naver?query=";
							let searchKeyword = $(this).val();
							
							let lastQueryUrl = naverQueryUrl + searchKeyword;
							
							$("#naverSearch").attr("href", lastQueryUrl);
							
							$("#naverSearch").get(0).click();
						}
					})	
        })
                
        // 네이버 검색 엔진_세혁인겸
        function fnSearchNaver() {
					let naverQueryUrl = "https://search.naver.com/search.naver?query=";
					let searchKeyword = $("#cateDatecourseSearchInput").val();
					
					let lastQueryUrl = naverQueryUrl + searchKeyword;
					
					$("#naverSearch").attr("href", lastQueryUrl);
				}
		</script>
  </th:block>
</head>
<body>
	<div layout:fragment="content">
	  <div id="datecourse-detail-container">
	    <h1 th:text="${datecourse.datecourseNm}"></h1>
	  </div>
	
	  <!-- 메인 이미지 영역 -->
	  <div id="datecourse-img-container">
	    <div id="main-img">
	      <div th:each="datecourseImageDTOList : ${datecourseImageDTOList}">
	        <img th:if="${datecourseImageDTOListStat.index == 0}"
	        				 th:src="@{'/upload/' + ${datecourseImageDTOList.imageNm}}"
	        			     width="600" height="400" >
	      </div>
	    </div>
	  </div>
	
	  <!-- 데이트코스 설명 부분 -->
	  <div id="datecourse-main-info">
	    <div id="main-info">
	      <p id="datecourseDesc-text" th:text="${datecourse.datecourseDesc}"></p>
	    </div>
	  </div>
	
	  <!-- 구분선 -->
	  <hr class="hrLine">
	
	  <!-- 데이트코스 서브 정보 -->
	  <div id="datecourse-sub-info">
	    <div class="datecourse-line">
	      <div class="sub-img">
	        <img th:src="@{/images/address.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">주소</p>
	      </div>
	      <div class="sub-info" >
	        <p class="p" th:text="${datecourse.datecourseAddr}" id="datecourseAddr"></p>
	      </div>
	      <button type="button" class="btn1" id="datecourseAdd" th:datecourse-no="${datecourse.datecourseNo}">
	        <span class="btn_inner" id="datecourseAdd-text">데이트 코스에 추가</span>
	      </button>
	    </div>
	    <div class="datecourse-line">
	      <div class="sub-img">
	        <img th:src="@{/images/tel.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">전화번호</p>
	      </div>
	      <div class="sub-info" id="InfoTel">
	        <p class="p" th:text="${datecourse.datecourseTel}"></p>
	      </div>
	      <!-- 데이트코스 검색 -->
	      <div id="searchDatecourse">
	        <div>
		        <div id="searchImg">
		          <img th:src="@{/images/search.png}" width="25" height="25">
		        </div>
	        </div>
	        <div id="searchInputWrapper" >
              <input id="cateDatecourseSearchInput" name="cateDatecourseSearchInput" th:value="${datecourse.datecourseNm}"
              		 placeholder="검색어를 입력해주세요." onfocus="this.placeholder=''" 
					 onblur="placeholder='검색어를 입력해주세요.'">
	          <img th:src="@{/images/expand.PNG}" style="margin-left: 7px;">
	        </div>
	       	<a id="naverSearch" href="" target="_blank" onclick="fnSearchNaver();">
	            <span>검색</span>
	        </a>
	      </div>
	
	    </div> 
	    <div class="datecourse-line">
	      <div class="sub-img">
	        <img th:src="@{/images/site.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">웹 사이트</p>
	      </div>
	      <div class="sub-info">
	        <a id="datecourseOfficialSiteA" th:href="@{${datecourse.datecourseOfficialSite}}" target="_blank">
	        	<p id="datecourseOfficialSite" class="p" th:text="${datecourse.datecourseOfficialSite}"></p>
	        </a>
	      </div>
	    </div>   
	    <div class="datecourse-line">
	      <div class="sub-img">
	        <img th:src="@{/images/park.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">주차</p>
	      </div>
	      <div class="sub-info">
	        <p id="datecourseParkingYn" class="p" th:text="${datecourse.datecourseParkingYn}" ></p>
	      </div>
	    </div>   
	    <div class="datecourse-line">
	      <div class="sub-img">
	        <img th:src="@{/images/time.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">영업 정보</p>
	      </div>
	      <div class="sub-info">
	         <div style="width:300px; display: flex;" th:each="datecourseHours : ${datecourseHours}">
	              <p class="p" th:text="${datecourseHours.datecourseHoursInfo}" style="margin-bottom:20px;"></p><br>
	         </div>
	     </div>
	    </div>   
	    <div class="datecourse-line" style="display:inline-block;">
	      <div class="sub-img">
	        <img th:src="@{/images/menu.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <p class="p">메뉴</p>
	      </div>
	      <div class="sub-info"  >
	        <div style="display:flex; justify-content: left; align-items: center;" th:each="datecourseMenu : ${datecourseMenu}">
	        	<div style="width:500px; display: flex;">
			        <p class="p" style="width:150px; display: inline-block; margin:0 10px 20px 0" th:text="${datecourseMenu.datecourseMenuNm}"></p> 
			        <p class="datecourseMenuPrice p" th:text="${datecourseMenu.datecourseMenuPrice} + '원'"></p>
		        </div>
	        </div>
	      </div>
	    </div>
	    <!-- 메뉴 이미지 영역 -->
	    <div id="menu-img-container">
	      <div class="sub-img">
	        <img th:src="@{/images/image.png}" width="25" height="25">
	      </div>
	      <div class="sub-title">
	        <h5>이미지</h5>
	      </div>
	      <div id="menu-img" >
	        <div th:each="datecourseImageDTOList : ${datecourseImageDTOList}" th:if="${datecourseImageDTOListStat.index > 0}">
	             <a href="#" id="getModalImage"
	             			 class="getModalImageList" 
	                         th:datecourse-no="${datecourse.datecourseNo}" 
	                         data-bs-toggle="modal" 
	                         data-bs-target="#exampleModal"
	                         th:onclick="showModal([[${datecourseImageDTOListStat.index}]])">
	             	<img th:src="@{'/upload/' + ${datecourseImageDTOList.imageNm}}"  
		          	     width="200" 
		          	     height="100">
	          	 </a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- 맵 영역 -->
	  <div id="datecourse-map-container">
	
	  </div>
	  <!-- 구분선 -->
	  <hr class="hrLine">
	
	  <div id="datecourse-comment-container">
	  	<!-- 댓글 입력_장찬영 -->
	    <div id="comment-wrapper">
			<div id="comment-write">
				<textarea name="comment-text" id="comment-text" cols="80" rows="5" 
						placeholder="명예훼손, 개인정보 유출, 허위사실 유포 등의 글은 법률에 의해 처벌 받을 수 있습니다."></textarea>
				<button id="comment-button" th:datecourse-no="${datecourse.datecourseNo}">등록</button>      
			</div>
		</div>	  
	  
	  	<h4 style="margin-bottom: 20px;">댓글
	  		<span>(</span>
	  		<span style="color:#ee2d7a; font-weight: bold;" id="comment-cnt"></span>
	  		<span>)</span>
	  	</h4>
	    <div class="comment-container" th:each="review : ${review}" th:if="${reviewStat.index < 5}"}>
      
	  <!-- 댓글 영역 -->
	  <div id="datecourse-comment-container"><h2>댓글</h2>
	    <div class="comment-container">
	      <div class="comment-left-section">
	        <div>
	          <img th:src="@{/images/user.png}">
	        </div>
	      </div>
	      <div class="comment-right-section">
	        <div class="comment-right-top">
	          <div class="comment-user">
	            <a>user0001</a>
	          </div>
	          <div class="comment-regdate">
	            <a>2022-12-23</a>
	          </div>
	        </div>
	        <div class="comment-right-bottom">
	          <div class="comment-comment">
	            <p>『훈민정음』(訓民正音, 중세 한국어: 훈민정음)은 한글의 옛 이름(첫 이름)으로 세종대왕이 창제한 문자의 명칭이자 훈민정음의 창제 원리와 사용법 등을 해설해 놓은 책의 제목이기도 하다. 세종 25년(1443년)에 창제 된 후 1446년(세종 28년)에 반포된 훈민정음의 뜻은 '백성(民)을 가르치는(訓) 바른(正) 소리(音)'이며, 28개의 낱자로 구성되어 있다. 소리글자에 속하며, 배우기 쉽고 읽고 쓰기에 편리한 장점을 가지고 있다. 이 훈민정음이 우리가 지금 사용하고 있는 한글이며,</p>
	          </div>
	        </div>
	      </div>
	    </div>
	    
	   
	    <div id="hide" style="display: none">
	  
	      <div class="comment-container">
	        <div class="comment-left-section">
	          <div>
	            <img th:src="@{/images/user02.png}">
	          </div>
	        </div>
	        <div class="comment-right-section">
	          <div class="comment-right-top">
	            <div class="comment-user">
	              <a>user0001</a>
	            </div>
	            <div class="comment-regdate">
	              <a th:text="${#strings.substring(review.reviewModfDate, 0, 10)}"></a>
	            </div>
	            <div class="comment-update" th:if="${#authentication.principal.username} == ${review.reviewerId}">
	            	<a class="comment-update-click">수정</a>
	            </div>&ensp;
	            <div class="comment-delete" th:if="${#authentication.principal.username} == ${review.reviewerId}">
	            	<a class="comment-delete-click" th:datecourse-no="${review.datecourseNo}" th:review-no="${review.reviewNo}">삭제</a>
	              <a>2022-12-23</a>
	            </div>
	          </div>
	          <div class="comment-right-bottom">
	            <div class="comment-comment">
	              <textarea class="comment-textarea" th:text="${review.reviewComment}" th:datecourse-no="${review.datecourseNo}" th:review-no="${review.reviewNo}" readonly></textarea>
	            </div>
	          </div>
	        </div>
	        <hr>
	        <input class="review-cnt" type="hidden" th:if="${reviewStat.last}" th:value="${reviewStat.count}">
	              <p>『훈민정음』(訓民正音, 중세 한국어: 훈민정음)은 한글의 옛 이름(첫 이름)으로 세종대왕이 창제한 문자의 명칭이자 훈민정음의 창제 원리와 사용법 등을 해설해 놓은 책의 제목이기도 하다. 세종 25년(1443년)에 창제 된 후 1446년(세종 28년)에 반포된 훈민정음의 뜻은 '백성(民)을 가르치는(訓) 바른(正) 소리(音)'이며, 28개의 낱자로 구성되어 있다. 소리글자에 속하며, 배우기 쉽고 읽고 쓰기에 편리한 장점을 가지고 있다. 이 훈민정음이 우리가 지금 사용하고 있는 한글이며,</p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="comment-container">
	        <div class="comment-left-section">
	          <div>
	            <img th:src="@{/images/user02.png}">
	          </div>
	        </div>
	        <div class="comment-right-section">
	          <div class="comment-right-top">
	            <div class="comment-user">
	              <a>user0001</a>
	            </div>
	            <div class="comment-regdate">
	              <a th:text="${#strings.substring(review.reviewModfDate, 0, 10)}"></a>
	            </div>
	            <div class="comment-update">
	            	<a class="comment-update-click">수정</a>
	            </div>&ensp;
	            <div class="comment-delete">
	            	<a class="comment-delete-click" th:datecourse-no="${review.datecourseNo}" th:review-no="${review.reviewNo}">삭제</a>
	              <a>2022-12-23</a>
	            </div>
	          </div>
	          <div class="comment-right-bottom">
	            <div class="comment-comment">
	              <textarea class="comment-textarea" th:text="${review.reviewComment}" th:datecourse-no="${review.datecourseNo}" th:review-no="${review.reviewNo}" readonly></textarea>
	            </div>
	          </div>
	        </div>
	        <hr>
	        <input class="review-cnt" type="hidden" th:if="${reviewStat.last}" th:value="${reviewStat.count}">
	              <p>『훈민정음』(訓民正音, 중세 한국어: 훈민정음)은 한글의 옛 이름(첫 이름)으로 세종대왕이 창제한 문자의 명칭이자 훈민정음의 창제 원리와 사용법 등을 해설해 놓은 책의 제목이기도 하다. 세종 25년(1443년)에 창제 된 후 1446년(세종 28년)에 반포된 훈민정음의 뜻은 '백성(民)을 가르치는(訓) 바른(正) 소리(音)'이며, 28개의 낱자로 구성되어 있다. 소리글자에 속하며, 배우기 쉽고 읽고 쓰기에 편리한 장점을 가지고 있다. 이 훈민정음이 우리가 지금 사용하고 있는 한글이며,</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="comment-hide">
	      <img class="comment-img" th:src="@{/images/down.png}" style="width: 30px">&ensp;
	      <a href=#none id="show" onclick="if(hide.style.display=='none') {hide.style.display='';show.innerText=' 댓글 접기 '} 
	      else {hide.style.display='none';show.innerText=' 댓글 전체보기 '}"> 댓글 전체보기 </a>&ensp;
	      <img class="comment-img" th:src="@{/images/down.png}" style="width: 30px">
	      <a href=#none id="show" onclick="if(hide.style.display=='none') {hide.style.display='';show.innerText='----- 댓글 접기 -----'} 
	      else {hide.style.display='none';show.innerText='----- 댓글 더보기 -----'}">----- 댓글 더보기 -----</a>
	    </div>
	  </div>
	  
	  	<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-fullscreen-sm-down">
		    <div class="modal-content">
		      <div class="modal-body">
		        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item" th:each="datecourseImageDTOList : ${datecourseImageDTOList}" th:if="${datecourseImageDTOListStat.index > 0}">
				      <img th:src="@{'/upload/' + ${datecourseImageDTOList.imageNm}}" 
			          	   class="d-block w-100 carouselImgList"
			          	   height="400px">
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
</body>
</html>