<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-admin}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/getDatecourse.css}"/>
  </th:block>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      // 추가된 이미지 파일들을 담아줄 배열. File 객체로 하나씩 담음
      let uploadFiles = [];

      // 기존 이미지 파일 배열
      let originFiles = [];

      // 변경된 이미지 파일 배열
      let changedFiles = [];

      // 이미지 파일 첨부 최대 개수
      const totFileCount = 10;

      // 영업시간 영역 부분 '+'이미지 클릭 시, 추가된 입력칸에 부여할 index
      let addHoursIndex = 0;

      // 입력된 영업시간 정보들을 담아줄 배열
      let iDatecourseHoursArr = [];

      // 기존 영업시간 정보 배열
      let originDatecourseHoursArr = [];

      // 메뉴 영역 부분 '+'이미지 클릭 시, 추가된 입력칸에 부여할 index
      let addMenuIndex = 0;

      // 입력된 메뉴 정보들을 담아줄 배열
      let iDatecourseMenusArr = [];

      // 기존 메뉴 정보 배열
      let originDatecourseMenuArr = [];

      $(function() {
        // 영업시간 영역 부분 '+'이미지 클릭 시, 입력칸 추가 개수 => 즉, 영업시간 정보 개수
        let hoursCnt = /*[[${getDatecourseHoursList.size}]]*/;

        // 메뉴 영역 부분 '+'이미지 클릭 시, 입력칸 추가 개수 => 즉, 메뉴 정보 개수
        let menuCnt = /*[[${getDatecourseMenuList.size}]]*/;

        // 기존 첨부된 이미지 파일 개수
        let fileCount = /*[[${getDatecourseImageList.size}]]*/;

        console.log(fileCount)
        // 기존 영업시간 정보 담기
        for (let i = 0; i < hoursCnt; i++) {
          const originHoursObj = {
            datecourseNo: $("#datecourseNo" + i).val(),
            datecourseHoursNo: $("#datecourseHoursNo" + i).val(),
            datecourseHoursInfo: $("#datecourseHoursInfo" + i).val(),
            datecourseHoursRgstDate: $("#datecourseHoursRgstDate" + i).val(),
            datecourseHoursUseYn: $("#datecourseHoursUseYn" + i).val(),
            datecourseHoursStatus: "N"
          };

          originDatecourseHoursArr.push(originHoursObj);
        }

        console.log("originDatecourseHoursArr")
        console.log(originDatecourseHoursArr)
        // 기존 메뉴 정보 담기
        for (let i = 0; i < menuCnt; i++) {
          const originMenuObj = {
            datecourseNo: $("#menuDatecourseNo" + i).val(),
            datecourseMenuNo: $("#datecourseMenuNo" + i).val(),
            datecourseMenuType: $("#datecourseMenuType" + i).val(),
            datecourseMenuNm: $("#datecourseMenuNm" + i).val(),
            datecourseMenuPrice: $("#datecourseMenuPrice" + i).val(),
            datecourseMenuRgstDate: $("#datecourseMenuRgstDate" + i).val(),
            datecourseMenuUseYn: $("#datecourseMenuUseYn" + i).val(),
            datecourseMenuStatus: "N"
          };

          originDatecourseMenuArr.push(originMenuObj);
        }
        console.log("originDatecourseMenuArr")
        console.log(originDatecourseMenuArr)

        // 화면 오픈 시 주차 가능여부, 반려동물 가능여부 관련 처리 => 수정 시, 해당 값들을 수정하지 않아도 이중으로 값을 가져가기에
        // 주차 가능여부 체크되었을 시, 주차 가능여부 hidden input disabled 처리
        if($("#datecourseParkingYn").is(":checked")) {
          $("#datecourseParkingYn-hidden").attr("disabled", true);
        } else {
          $("#datecourseParkingYn-hidden").attr("disabled", false);
        }

        // 반려동물 가능여부 체크되었을 시, 반려동물 가능여부 hidden input disabled 처리
        if($("#datecoursePetYn").is(":checked")) {
          $("#datecoursePetYn-hidden").attr("disabled", true);
        } else {
          $("#datecoursePetYn-hidden").attr("disabled", false);
        }


        /************************************************
         이미지 업로드 관련
         *************************************************/
        // input type=flie이 변경되면 미리보기 동작
        $("#realUploadFiles").on("change", function (e) {
          // input type=file에 추가된 이미지 파일들을 변수로 받아옴
          const files = e.target.files;

          // 변수로 받아온 이미지 파일들을 배열 형태로 변환
          const fileArr = Array.prototype.slice.call(files);

          // 첨부된 이미지 파일 개수
          let uploadFileCount = fileArr.length;

          // 배열에 있는 이미지 파일들을 하나씩 꺼내서 처리
          // 이미지 확장자가 아닌 경우, 미리보기 X & input type=file value 비워주기
          for (let f of fileArr) {
            // 파일 확장자
            const fileType = f.type;

            // (기존 첨부된 파일 개수 + 업로드될 파일 개수)가 10개 이상일 때는 확장자 판별이 무의미
            if (fileCount + uploadFileCount <= totFileCount) {
              if (!fileType.includes('image')) {
                alert("이미지 확장자의 경우에만 업로드가 가능합니다.");
                $("#realUploadFiles").val("");
                uploadFileCount--; // 첨부된 파일 개수를 줄임
              } else if (fileCount < totFileCount) {
                imageLoader(f);
              }
            }
          }

          if (fileCount + uploadFileCount > totFileCount) {
            alert("이미지 파일의 경우 최대 10개까지만 첨부가 가능합니다.");
            $("#realUploadFiles").val("");
            return;
          } else {
            fileCount += uploadFileCount;
          }
          for (let u of uploadFiles) {
            console.log("uplodaFiles :" + u.name)
          }
        });

        for (let i = 0; i < $("#datecourseImageCnt").val(); i++) {
          const originFileObj = {
            imageGroup: $(".imageGroup:first").val(),
            referenceNo: $("#datecourseNo").val(),
            imageNo: $("#imageNo" + i).val(),
            imageNm: $("#imageNm" + i).val(),
            imageRgstDate: $("#imageRgstDate" + i).val(),
            // 업로드 파일 경로가 각각 다를 때는 imagePath 속성도 추가
            // 파일 상태값(수정되거나 삭제된 파일은 변경)
            datecourseImageStatus: "N"
          };

          originFiles.push(originFileObj);
        }


        /*******************************
          유효성 검사 && 게시글 수정
        ********************************/
        $("#btnUpdate").on("click", function () {
          let hourFlag = true;
          let menuFlag = true;

          if (!$("#datecourseNm").val()) {
            alert("데이트 코스명을 입력해주세요.");
            $("#datecourseNm").focus();
            return;
          }

          if (!$("#datecourseSummary").val()) {
            alert("데이트 코스 요약을 입력해주세요.");
            $("#datecourseSummary").focus();
            return;
          }

          if (!$("#datecourseDesc").val()) {
            alert("데이트 코스 설명을 입력해주세요.");
            $("#datecourseDesc").focus();
            return;
          }

          if (!$("#datecourseAddr").val()) {
            alert("주소를 입력해주세요.");
            $("#datecourseAddr").focus();
            return;
          }

          $("input[name='datecourseHours']").each(function () {
            if (!$(this).val()) {
              alert("영업시간을 입력해주세요.");
              $(this).focus();
              hourFlag = false;
              return;
            }
          });

          if (!hourFlag) {
            return;
          }

          if (!$("#datecourseTel").val()) {
            alert("전화번호를 입력해주세요.");
            $("#datecourseTel").focus();
            return;
          }

          $("input[name='datecourseMenuNm']").each(function () {
            if (!$(this).val()) {
              alert("메뉴명을 입력해주세요.");
              $(this).focus();
              menuFlag = false;
              return;
            }
          });

          if (!menuFlag) {
            return;
          }

          $("input[name='datecourseMenuPrice']").each(function () {
            if (!$(this).val()) {
              alert("가격을 입력해주세요.");
              $(this).focus();
              menuFlag = false;
              return;
            }
          });

          /***************************************************************
           이미지 업로드 관련
           ****************************************************************/
          // 마지막으로 realUploadFiles에 uploadFiles(배열)에 있는 파일들을 담아준다.
          let dt = new DataTransfer();

          for (let f in uploadFiles) {
            const file = uploadFiles[f];
            dt.items.add(file);
          }

          $("#realUploadFiles")[0].files = dt.files;

          // dt.clearData();
          // clearData() 사용하면 배열의 모든 내용이 담기지 않고,
          // 파일 하나씩만 담기는 현상이 발생해서 dt를 두 개로 분리하여 사용
          let dt2 = new DataTransfer();

          for(let f in changedFiles) {
            const file = changedFiles[f];
            dt2.items.add(file);
          }

          $("#changedFiles")[0].files = dt2.files;

          console.log(originDatecourseHoursArr)
          console.log(originDatecourseMenuArr)
          console.log(iDatecourseHoursArr)
          console.log(iDatecourseMenusArr)

          // 영업시간 / 메뉴 정보 / 이미지 파일 관련 배열을 JSON String 형태로 변환하여 각 input에 셋팅
          $("#originDatecourseHours").val(JSON.stringify(originDatecourseHoursArr));
          $("#originDatecourseMenu").val(JSON.stringify(originDatecourseMenuArr));
          $("#datecourseHoursInfo").val(JSON.stringify(iDatecourseHoursArr));
          $("#datecourseMenuInfo").val(JSON.stringify(iDatecourseMenusArr));
          $("#originFiles").val(JSON.stringify(originFiles));
          console.log($("#originDatecourseHours").val())
          console.log($("#originDatecourseMenu").val())
          console.log($("#datecourseHoursInfo").val())
          console.log($("#datecourseMenuInfo").val())
          console.log($("#originFiles").val())

          // ajax에서 multipart/form-data형식을 전송하기 위해서는
          // new FormData()를 사용하여 직접 폼데이터 객체를 만들어준다.
          // form.serialize()는 multipart/form-data 전송불가
          let formData = new FormData($("#datecourseUpdateForm")[0]);

          // ajax에서
          // enctype: multipart/form-data,
          // processData: false,
          // contentType: false로 설정
          $.ajax({
            enctype: 'multipart/form-data',
            url: '/datecourse/updateDatecourse',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function(obj) {
              console.log(obj);
              alert("수정되었습니다.");
              window.location.href="/datecourse/getDatecourse/" + obj.item.getDatecourse.datecourseNo;
            },
            error: function (e) {
              console.log(e);
            }
          });
        });

        // 영업시간 영역 부분 '+'이미지 클릭 시, 입력칸 추가
        $("#datecourseHours-plusImg").on("click", function () {
          // 최대 3개까지만 입력가능하도록
          if (hoursCnt < 3) {
            // 새로 삽입할 input 태그
            let htmlStr = `
                    <input type="text" name="datecourseHours"
                           style="display: block; margin-top: 15px;"
                           data-addhoursindex="${addHoursIndex}"
                           class="common-margin datecourseHours" placeholder="영업시간을 입력하세요."
                           data-datecourseno="0"
                           data-datecoursehoursno="0"
                           data-datecoursehourstagstatus="A">
            `;

            // input 태그 추가
            $("#datecourseHours-field").append(htmlStr);

            hoursCnt++;
            addHoursIndex++;
          } else {
            alert("최대 3개까지만 입력이 가능합니다.");
            return;
          }
        });

        // 영업시간 영역 부분 '-'이미지 클릭 시, 입력칸 삭제
        $("#datecourseHours-minusImg").on("click", function () {
          if (hoursCnt > 1) {
            // 마지막으로 추가된 영업시간 input의 data-addhoursindex 값을 배열의 index와 비교하여 마지막만 제외
            if ($("#datecourseHours-field .datecourseHours:last").attr("data-datecoursehourstagstatus") == "A") {
              iDatecourseHoursArr = iDatecourseHoursArr.filter((hour, index) =>
                      index != $("#datecourseHours-field .datecourseHours:last").attr("data-addhoursindex"));

              // 마지막 영업시간 입력칸 삭제
              $("#datecourseHours-field .datecourseHours:last").remove();

              hoursCnt--;

              if (addHoursIndex > 0) {
                addHoursIndex--;
              }
            } else {
              const datecourseNo = $(".datecourseHoursInfo-wrapper:last .datecourseHours").attr("data-datecourseno");
              const datecourseHoursNo = $(".datecourseHoursInfo-wrapper:last .datecourseHours").attr("data-datecoursehoursno");

              // 기존 영업시간 정보를 담고 있는 배열에서 변경이 일어난 영업시간 정보 수정
              for (let i = 0; i < originDatecourseHoursArr.length; i++) {
                if (datecourseNo == originDatecourseHoursArr[i].datecourseNo &&
                        datecourseHoursNo == originDatecourseHoursArr[i].datecourseHoursNo) {
                  originDatecourseHoursArr[i].datecourseHoursStatus = "D";
                }
              }

              // 마지막 영업시간 입력칸 삭제
              $(".datecourseHoursInfo-wrapper:last .datecourseHours").remove();

              if (hoursCnt > 1) {
                hoursCnt--;
              }

              if (addHoursIndex > 0) {
                addHoursIndex--;
              }
            }
          } else {
            return;
          }
        });


        // 메뉴 영역 부분 '+'이미지 클릭 시, 입력칸 추가
        $("#datecourseMenu-plusImg").on("click", function () {
          // 숫자만 입력 가능하도록 메소드 구현
          const fnRegex = "fnDatecourseMenuPriceKeyup(this);";

          // 최대 10개까지만 입력가능하도록
          if (menuCnt < 10) {
            // 새로 삽입할 input 태그
            let htmlStr = "";

            htmlStr = `
                <div class="datecourseMenu"
                     data-addmenuindex="${addMenuIndex}"
                     data-datecoursemenutagstatus="A">
                    메뉴명<input type="text" name="datecourseMenuNm" class="datecourseMenuNm" placeholder="메뉴명을 입력하세요.">
                     가격<input type="text" name="datecourseMenuPrice" class="datecourseMenuPrice" placeholder="가격을 입력하세요."
                    onKeyup="${fnRegex}"> 원
                <div>
            `;

            // div 태그 추가
            $("#datecourseMenu-field").append(htmlStr);

            menuCnt++;
            addMenuIndex++;
          } else {
            alert("최대 10개까지만 입력이 가능합니다.");
            return;
          }
        });

        // 메뉴 영역 부분 '-'이미지 클릭 시, 입력칸 삭제
        $("#datecourseMenu-minusImg").on("click", function () {
          if (menuCnt > 1) {
            // 마지막으로 추가된 메뉴 div의 data-addmenuindex 값을 배열의 index와 비교하여 마지막만 제외
            if ($("#datecourseMenu-field .datecourseMenu:last").attr("data-datecoursemenutagstatus") == "A") {
              iDatecourseMenusArr = iDatecourseMenusArr.filter((menu, index) =>
                      index != $("#datecourseMenu-field .datecourseMenu:last").attr("data-addmenuindex"));

              // 마지막 메뉴 div 삭제
              $("#datecourseMenu-field .datecourseMenu:last").remove();

              menuCnt--;

              if (addMenuIndex > 0) {
                addMenuIndex--;
              }
            } else {
              const datecourseNo = $("#datecourseMenu-field .datecourseMenu:last").attr("data-datecourseno");
              const datecourseMenuNo = $("#datecourseMenu-field .datecourseMenu:last").attr("data-datecoursemenuno");

              // 기존 메뉴 정보를 담고 있는 배열에서 변경이 일어난 메뉴 정보 수정
              for (let i = 0; i < originDatecourseMenuArr.length; i++) {
                if (datecourseNo == originDatecourseMenuArr[i].datecourseNo &&
                        datecourseMenuNo == originDatecourseMenuArr[i].datecourseMenuNo) {
                  originDatecourseMenuArr[i].datecourseMenuStatus = "D";
                }
              }

              // 마지막 메뉴 div 삭제
              $("#datecourseMenu-field .datecourseMenu:last").remove();

              if (menuCnt > 1) {
                menuCnt--;
              }

              if (addMenuIndex > 0) {
                addMenuIndex--;
              }
            }
          } else {
            return;
          }
        });

        // 영업시간 정보 입력될 때 배열에 담아주기
        // 동적으로 생성된 태그이기에 아래와 같이 작성해준다!
        $(document).on("change", ".datecourseHours", function () {
          const datecourseNo = $(this).data("datecourseno");
          const datecourseHoursNo = $(this).data("datecoursehoursno");
          const datecourseHoursTagStatus = $(this).data("datecoursehourstagstatus");

          // 기존 영업시간 정보를 담고 있는 배열에서 변경이 일어난 영업시간 정보 수정
          for (let i = 0; i < originDatecourseHoursArr.length; i++) {
            if (datecourseNo == originDatecourseHoursArr[i].datecourseNo &&
                    datecourseHoursNo == originDatecourseHoursArr[i].datecourseHoursNo) {
              originDatecourseHoursArr[i].datecourseHoursStatus = "U";
              originDatecourseHoursArr[i].newDatecourseHoursInfo = $(this).val();
            }
          }

          // 추가된 영업시간 input의 경우, iDatecourseHoursArr 배열에 담기
          if (datecourseHoursTagStatus == "A") {
            // 추가된 영업시간 input의 index 가져와서 셋팅
            const index = $(this).data("addhoursindex");

            // iDatecourseHoursArr의 해당 index가 null이 아닌 경우 내용 수정
            // index가 0이거나 iDatecourseHoursArr 배열에서 index-1의 값이 null이 아니면 배열에 내용 삽입
            if (iDatecourseHoursArr[index] != null) {
              iDatecourseHoursArr[index] = $(this).val();
            } else if (index == 0 || iDatecourseHoursArr[index - 1] != null) {
              iDatecourseHoursArr.push($(this).val());
            } else {
              alert("순서대로 입력해주시기 바랍니다.");
              $(this).val("");
            }
          }
        });


        /*
            메뉴정보 입력될 때 배열에 담아주기
            - 동적으로 생성된 태그이기에 아래와 같이 작성해준다!
        */
        // 메뉴명 입력 시
        $(document).on("change", ".datecourseMenuNm", function () {
          const datecourseNo = $(this).parent().data("datecourseno");
          const datecourseMenuNo = $(this).parent().data("datecoursemenuno");
          const datecourseMenuStatus = $(this).parent().data("datecoursemenutagstatus");

          // 기존 메뉴 정보를 담고 있는 배열에서 변경이 일어난 메뉴 정보 수정
          for (let i = 0; i < originDatecourseMenuArr.length; i++) {
            if (datecourseNo == originDatecourseMenuArr[i].datecourseNo &&
                    datecourseMenuNo == originDatecourseMenuArr[i].datecourseMenuNo) {
              originDatecourseMenuArr[i].datecourseMenuStatus = "U";
              originDatecourseMenuArr[i].newDatecourseMenuNm = $(this).val();
            }
          }

          // 추가된 메뉴 div의 경우, iDatecourseMenusArr 배열에 담기
          if (datecourseMenuStatus == "A") {
            // 추가된 메뉴 div의 index 가져와서 셋팅
            const index = $(this).parent().data("addmenuindex");

            // iDatecourseMenusArr의 해당 index가 null이 아닌 경우, 해당 index의 객체에 메뉴명 삽입
            // index가 0이거나 iDatecourseMenusArr 배열에서 index-1의 값이 null이 아니면 배열에 객체 삽입 후 메뉴명 셋팅
            if (iDatecourseMenusArr[index] != null) {
              iDatecourseMenusArr[index].datecourseMenuNm = $(this).val();
            } else if (index == 0 || iDatecourseMenusArr[index - 1] != null) {
              // 메뉴타입, 메뉴명, 가격을 담을 객체 생성
              const datecourseMenuObj = {
                datecourseMenuType: $("#datecourseMenuType0").val(),
                datecourseMenuNm: null,
                datecourseMenuPrice: null
              };

              // datecourseMenuObj 객체를 배열에 담기
              iDatecourseMenusArr.push(datecourseMenuObj);

              // 메뉴명 셋팅
              iDatecourseMenusArr[index].datecourseMenuNm = $(this).val();
            } else {
              alert("순서대로 입력해주시기 바랍니다.");
              $(this).val("");
            }
          }
        });

        // 가격 입력 시
        $(document).on("change", ".datecourseMenuPrice", function () {
          const datecourseNo = $(this).parent().data("datecourseno");
          const datecourseMenuNo = $(this).parent().data("datecoursemenuno");
          const datecourseMenuStatus = $(this).parent().data("datecoursemenutagstatus");

          // 기존 메뉴 정보를 담고 있는 배열에서 변경이 일어난 메뉴 정보 수정
          for (let i = 0; i < originDatecourseMenuArr.length; i++) {
            if (datecourseNo == originDatecourseMenuArr[i].datecourseNo &&
                    datecourseMenuNo == originDatecourseMenuArr[i].datecourseMenuNo) {
              originDatecourseMenuArr[i].datecourseMenuStatus = "U";
              originDatecourseMenuArr[i].newDatecourseMenuPrice = $(this).val();
            }
          }

          if (datecourseMenuStatus == "A") {
            // 추가된 메뉴 div의 index 가져와서 셋팅
            const index = $(this).parent().data("addmenuindex");

            // iDatecourseMenusArr의 해당 index가 null이 아닌 경우, 해당 index의 객체에 가격 삽입
            // index가 0이거나 iDatecourseMenusArr 배열에서 index-1의 값이 null이 아니면 배열에 객체 삽입 후 가격 셋팅
            if (iDatecourseMenusArr[index] != null) {
              iDatecourseMenusArr[index].datecourseMenuPrice = $(this).val();
            } else if (index == 0 || iDatecourseMenusArr[index - 1] != null) {
              // 메뉴타입, 메뉴명, 가격을 담을 객체 생성
              const datecourseMenuObj = {
                datecourseMenuType: $("#datecourseMenuType0").val(),
                datecourseMenuNm: null,
                datecourseMenuPrice: null
              };

              // datecourseMenuObj 객체를 배열에 담기
              iDatecourseMenusArr.push(datecourseMenuObj);

              // 가격 셋팅
              iDatecourseMenusArr[index].datecourseMenuPrice = $(this).val();
            } else {
              alert("순서대로 입력해주시기 바랍니다.");
              $(this).val("");
            }
          }
        });
      });

      // 미리보기 영역에 들어갈 img태그 생성 및 선택된 파일을 Base64 인코딩된 문자열 형태로 변환하여
      // 미리보기가 가능하게 해줌
      function imageLoader(file) {
        uploadFiles.push(file);

        const reader = new FileReader();

        reader.onload = function(e) {
          // 이미지를 표출해줄 img태그 선언
          let img = document.createElement("img");
          img.setAttribute("style", "width: 100%; height: 100%; z-index: auto;");

          // 이미지 파일인지 아닌지 체크
          if(file.name.toLowerCase().match(/(.*?)\.(jpg|jpeg|png|gif|svg|bmp)$/)) {
            // 이미지 파일 미리보기 처리
            img.src = e.target.result;
          }

          // 미리보기 영역에 추가
          // 미리보기 이미지 태그와 삭제 버튼 그리고 파일명을 표출하는 p태그를 묶어주는 div 만들어서
          // 미리보기 영역에 추가
          $("#image-preview").append(makeDiv(img, file));
        };

        // 파일을 Base64 인코딩된 문자열로 변경
        reader.readAsDataURL(file);
      }

      // 미리보기 영역에 들어갈 div(img+button+p)를 생성하고 리턴
      function makeDiv(img, file) {
        // div 생성
        let div = document.createElement("div");

        div.setAttribute("style", "display: inline-block; position: relative;"
                + " width: 150px; height: 120px; margin: 5px; border: 1px solid #ee2d7a; border-radius: 3px; z-index: 1;");

        // button 생성
        let btn = document.createElement("input");

        btn.setAttribute("type", "button");
        btn.setAttribute("value", "x");
        btn.setAttribute("delFile", file.name);
        btn.setAttribute("style", "width: 30px; height: 30px; position: absolute;"
                + " right: 0px; bottom: 0px; z-index: 999; background-color: rgba(255, 255, 255, 0.1);"
                + " color: #f00;");

        /*
          버튼 클릭 이벤트
          버튼 클릭 시, 해당 파일이 삭제되도록 설정
        */
        btn.onclick = function(e) {
          // 클릭된 버튼
          const ele = e.srcElement;
          // delFile(파일이름) 속성 꺼내오기: 삭제될 파일명
          const delFile = ele.getAttribute("delFile");

          for(let i=0; i<uploadFiles.length; i++) {
            // 배열에 담아놓은 파일들 중에 해당 파일 삭제
            if(delFile == uploadFiles[i].name) {
              // 배열에서 i번째 한개만 제거
              uploadFiles.splice(i, 1);
              // 기존 첨부된 파일 개수 -1
              fileCount--;
            }
          }

          /*
            버튼 클릭 시 realUploadFiles에 첨부된 파일도 삭제
            input type=file은 첨부된 파일들을 fileList 형태로 관리
            fileList에 일반적인 File객체를 넣을 수 없고
            DataTransfer라는 클래스를 이용하여 완전한 fileList 형태로 만들어서
            input.files에 넣어줘야 된다.
          */
          let dt = new DataTransfer();

          for(let f in uploadFiles) {
            const file = uploadFiles[f];
            dt.items.add(file);
          }
          console.log($("#realUploadFiles"));
          $("#realUploadFiles")[0].files = dt.files;

          // 해당 img를 담고있는 부모태그인 div 삭제
          const parentDiv = ele.parentNode;
          $(parentDiv).remove();
        }

        // 파일명 표출할 p태그 생성
        const fName = document.createElement("p");
        fName.setAttribute("style", "display: inline-block; font-size: 8px;");
        fName.textContent = file.name;

        // div에 하나씩 추가
        div.appendChild(img);
        div.appendChild(btn);
        div.appendChild(fName);

        // 완성된 div를 리턴
        return div;
      }

      function fnImgChange(imageNo) {
        // 기존 파일의 이미지를 클릭했을 때 같은 레벨의 input type="file"을 가져온다.
        let changedFile = document.getElementById("changedFile" + imageNo);

        // 위에서 가져온 input 강제클릭 이벤트 발생시킴
        changedFile.click();
      }

      function fnGetChangedFileInfo(imageNo, e) {
        // 변경된 파일 받아오기
        const files = e.target.files;
        // 받아온 파일 배열 형태로 변경(싱글파일 업로드여서 파일배열 한개의 인자만 담김)
        const fileArr = Array.prototype.slice.call(files);

        // 변경된 파일들은 변경된 파일 배열에 담아준다.
        changedFiles.push(fileArr[0]);

        // 미리보기 화면에서 새로 변경된 파일의 이미지 출력
        const reader = new FileReader();

        reader.onload = function(ee) {
          const img = document.getElementById("img" + imageNo);
          const p = document.getElementById("imageNm" + imageNo);

          console.log(fileArr[0].name);
          p.textContent = fileArr[0].name;

          // 이미지인지 체크
          if(fileArr[0].name.match(/(.*?)\.(jpg|jpeg|png|gif|bmp|svg)$/)) {
            img.src = ee.target.result;
          }
        }

        reader.readAsDataURL(fileArr[0]);

        // 기존 파일을 담고 있는 배열에서 변경이 일어난 파일 수정
        for(let i=0; i<originFiles.length; i++) {
          if(imageNo == originFiles[i].imageNo) {
            originFiles[i].datecourseImageStatus = "U";
            originFiles[i].newImageNm = fileArr[0].name;
          }
        }
      }

      // X버튼 클릭 시 동작하는 메소드
      function fnImgDel(e) {
        // 클릭된 태그 가져오기
        let ele = e.srcElement;

        // delFile속성 값 가져오기(imageNo)
        let delFile = ele.getAttribute("data-del-file");

        for(let i=0; i<originFiles.length; i++) {
          if(delFile == originFiles[i].imageNo) {
            originFiles[i].datecourseImageStatus = "D";
          }
        }

        // 부모 요소인 div 삭제
        let div = ele.parentNode;
        $(div).remove();
      }

      // 주차 가능여부 체크되었을 시, 주차 가능여부 hidden input disabled 처리
      function fnChgParkingYn(parkingYn) {
        if($(parkingYn).is(":checked")) {
          $("#datecourseParkingYn-hidden").attr("disabled", true);
        } else {
          $("#datecourseParkingYn-hidden").attr("disabled", false);
        }
      }

      // 반려동물 가능여부 체크되었을 시, 반려동물 가능여부 hidden input disabled 처리
      function fnChgPetYn(petYn) {
        if($(petYn).is(":checked")) {
          $("#datecoursePetYn-hidden").attr("disabled", true);
        } else {
          $("#datecoursePetYn-hidden").attr("disabled", false);
        }
      }

      // 메뉴 가격 부분 숫자만 입력되도록 처리
      function fnDatecourseMenuPriceKeyup(MenuPrice) {
        $(MenuPrice).val($(MenuPrice).val().replace(/[^0-9]/g,""));
      }
    </script>
  </th:block>
</head>
<!-- head 영역 끝 -->

<body>
<div layout:fragment="content">
  <div id="datecourse-container">
    <h1>데이트 코스 수정</h1>
    <hr>
    <div id="datecourse-form-wrapper">
      <form id="datecourseUpdateForm" enctype="multipart/form-data">
        <input type="hidden" name="datecourseRgstDate"  id="datecourseRgstDate"
               th:value="${getDatecourse.datecourseRgstDate}">
        <input type="hidden" name="datecourseUseYn" id="datecourseUseYn"
               th:value="${getDatecourse.datecourseUseYn}">
        <input type="hidden" name="originDatecourseHours" id="originDatecourseHours">
        <input type="hidden" name="originDatecourseMenu" id="originDatecourseMenu">
        <input type="hidden" name="originFiles" id="originFiles">
        <div id="datecourseRgstDate-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseRgstDate">등록일자</label>
          </div>
          <input type="text" name="datecourseRgstDateText" id="datecourseRgstDateText"
                 class="common-margin" readonly
                 th:value="${#strings.substring(getDatecourse.datecourseRgstDate, 0, 10)}">
        </div>
        <div id="datecourseNo-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseNo">데이트 코스 번호</label>
          </div>
          <input type="text" name="datecourseNo" id="datecourseNo"
                 class="common-margin" readonly
                 th:value="${getDatecourse.datecourseNo}">
        </div>
        <div id="datecourseNm-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseNm">데이트 코스명</label>
          </div>
          <input type="text" name="datecourseNm" id="datecourseNm"
                 class="common-margin" placeholder="데이트 코스명을 입력하세요."
                 th:value="${getDatecourse.datecourseNm}">
        </div>
        <div id="datecourseArea-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseArea">지역</label>
          </div>
          <select name="datecourseArea" id="datecourseArea" class="common-margin">
            <option value="A0001" th:selected="${getDatecourse.datecourseArea == 'A0001'}">서울</option>
            <option value="A0002" th:selected="${getDatecourse.datecourseArea == 'A0002'}">경기도</option>
            <option value="A0003" th:selected="${getDatecourse.datecourseArea == 'A0003'}">인천</option>
            <option value="A0004" th:selected="${getDatecourse.datecourseArea == 'A0004'}">강원도</option>
            <option value="A0005" th:selected="${getDatecourse.datecourseArea == 'A0005'}">충청남도</option>
            <option value="A0006" th:selected="${getDatecourse.datecourseArea == 'A0006'}">충청북도</option>
            <option value="A0007" th:selected="${getDatecourse.datecourseArea == 'A0007'}">세종</option>
            <option value="A0008" th:selected="${getDatecourse.datecourseArea == 'A0008'}">대전</option>
            <option value="A0009" th:selected="${getDatecourse.datecourseArea == 'A0009'}">경상북도</option>
            <option value="A0010" th:selected="${getDatecourse.datecourseArea == 'A0010'}">경상남도</option>
            <option value="A0011" th:selected="${getDatecourse.datecourseArea == 'A0011'}">전라북도</option>
            <option value="A0012" th:selected="${getDatecourse.datecourseArea == 'A0012'}">전라남도</option>
            <option value="A0013" th:selected="${getDatecourse.datecourseArea == 'A0013'}">대구</option>
            <option value="A0014" th:selected="${getDatecourse.datecourseArea == 'A0014'}">울산</option>
            <option value="A0015" th:selected="${getDatecourse.datecourseArea == 'A0015'}">광주</option>
            <option value="A0016" th:selected="${getDatecourse.datecourseArea == 'A0016'}">부산</option>
            <option value="A0017" th:selected="${getDatecourse.datecourseArea == 'A0017'}">제주도</option>
          </select>
        </div>
        <div id="datecourseCategory-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseCategory">데이트 코스 분류</label>
          </div>
          <!-- 데이트 코스 수정 화면에서는 데이트 코스 분류 변경하지 못하도록 막음 -> onFocus, onChange -->
          <select name="datecourseCategory" id="datecourseCategory"
                  class="common-margin"
                  onFocus="this.initialSelect = this.selectedIndex;"
                  onChange="this.selectedIndex = this.initialSelect;">
            <option value="B0001" th:selected="${getDatecourse.datecourseCategory == 'B0001'}">놀거리</option>
            <option value="B0002" th:selected="${getDatecourse.datecourseCategory == 'B0002'}">맛집</option>
            <option value="B0003" th:selected="${getDatecourse.datecourseCategory == 'B0003'}">카페</option>
          </select>
        </div>
        <div id="datecourseSummary-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseSummary">데이트 코스 요약</label>
          </div>
          <input type="text" name="datecourseSummary" id="datecourseSummary"
                 class="common-margin" placeholder="데이트 코스 요약을 입력하세요."
                 th:value="${getDatecourse.datecourseSummary}">
        </div>
        <div id="datecourseDesc-wrapper" class="common common-display">
          <div class="common-text">데이트 코스 설명</div>
          <textarea name="datecourseDesc" id="datecourseDesc"
                    class="common-margin" cols="60" rows="10"
                    placeholder="데이트 코스에 대한 설명을 작성하세요."
                    th:text="${getDatecourse.datecourseDesc}">
          </textarea>
        </div>
        <div id="datecourseAddr-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseAddr">주소</label>
          </div>
          <input type="text" name="datecourseAddr" id="datecourseAddr"
                 class="common-margin" placeholder="주소를 입력하세요."
                 th:value="${getDatecourse.datecourseAddr}">
        </div>
        <div id="datecourseInoutYn-wrapper" class="common common-display"
             th:if="${getDatecourse.datecourseCategory == 'B0001'}">
          <div class="common-text">실내/외 여부</div>
          <input type="radio" name="datecourseInoutYn" id="datecourseInoutYn-in"
                 class="common-margin" value="Y" th:checked="${getDatecourse.datecourseInoutYn == 'Y'}">
            <label for="datecourseInoutYn-in">실내</label>
          <input type="radio" name="datecourseInoutYn" id="datecourseInoutYn-out"
                 class="common-margin" value="N" th:checked="${getDatecourse.datecourseInoutYn == 'N'}">
            <label for="datecourseInoutYn-out">실외</label>
        </div>
        <div id="datecourseFoodType-wrapper" class="common common-display"
             th:if="${getDatecourse.datecourseCategory == 'B0002'}">
          <div class="common-text">
            <label for="datecourseFoodType">음식종류</label>
          </div>
          <select name="datecourseFoodType" id="datecourseFoodType" class="common-margin">
            <option value="C0001" th:selected="${getDatecourse.datecourseFoodType == 'C0001'}">한식</option>
            <option value="C0002" th:selected="${getDatecourse.datecourseFoodType == 'C0002'}">양식</option>
            <option value="C0003" th:selected="${getDatecourse.datecourseFoodType == 'C0003'}">중식</option>
            <option value="C0004" th:selected="${getDatecourse.datecourseFoodType == 'C0004'}">일식</option>
            <option value="C0005" th:selected="${getDatecourse.datecourseFoodType == 'C0005'}">분식</option>
            <option value="C0006" th:selected="${getDatecourse.datecourseFoodType == 'C0006'}">기타</option>
          </select>
        </div>
        <div id="datecourseHours-wrapper" class="common common-display">
          <div class="common-text">
            영업시간
          </div>
          <div id="datecourseHours-field">
            <input type="hidden" name="datecourseHoursInfo" id="datecourseHoursInfo" value="">
            <div th:each="hours : ${getDatecourseHoursList}" class="datecourseHoursInfo-wrapper">
              <input type="hidden" th:id="'datecourseNo' + ${hoursStat.index}" th:name="'datecourseNo' + ${hoursStat.index}"
                     th:value="${hours.datecourseNo}">
              <input type="hidden" th:id="'datecourseHoursNo' + ${hoursStat.index}" th:name="'datecourseHoursNo' + ${hoursStat.index}"
                     th:value="${hours.datecourseHoursNo}">
              <input type="hidden" th:id="'datecourseHoursInfo' + ${hoursStat.index}" th:name="'datecourseHoursInfo' + ${hoursStat.index}"
                     th:value="${hours.datecourseHoursInfo}">
              <input type="text" name="datecourseHours"
                     th:data-datecoursehours-index="${hoursStat.index}"
                     class="common-margin datecourseHours" placeholder="영업시간을 입력하세요."
                     th:data-datecourseno="${hours.datecourseNo}"
                     th:data-datecoursehoursno="${hours.datecourseHoursNo}"
                     data-datecoursehourstagstatus="O"
                     th:value="${hours.datecourseHoursInfo}">
              <input type="hidden" th:name="'datecourseHoursRgstDate' + ${hoursStat.index}" th:id="'datecourseHoursRgstDate' + ${hoursStat.index}"
                     th:value="${hours.datecourseHoursRgstDate}">
              <input type="hidden" th:name="'datecourseHoursUseYn' + ${hoursStat.index}" th:id="'datecourseHoursUseYn' + ${hoursStat.index}"
                     th:value="${hours.datecourseHoursUseYn}">
            </div>
          </div>
          <img th:src="@{/images/plus.png}" id="datecourseHours-plusImg" class="plusImg" width="25px" height="25px">
          <img th:src="@{/images/minus.png}" id="datecourseHours-minusImg" class="minusImg" width="25px" height="25px">
        </div>
        <div id="datecourseTel-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseTel">전화번호</label>
          </div>
          <input type="text" name="datecourseTel" id="datecourseTel"
                 class="common-margin" placeholder="전화번호를 입력하세요."
                 th:value="${getDatecourse.datecourseTel}">
        </div>
        <div id="datecourseSite-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseOfficialSite">웹 사이트</label>
          </div>
          <input type="text" name="datecourseOfficialSite" id="datecourseOfficialSite"
                 class="common-margin" placeholder="웹 사이트를 입력하세요."
                 th:value="${getDatecourse.datecourseOfficialSite}">
        </div>
        <div id="datecourseParkingYn-wrapper" class="common common-display">
          <div class="common-text">
            <label for="datecourseParkingYn">주차 가능여부</label>
          </div>
          <input type="checkbox" name="datecourseParkingYn" id="datecourseParkingYn"
                 class="common-margin" value="Y" onchange="fnChgParkingYn(this);"
                 th:checked="${getDatecourse.datecourseParkingYn == 'Y'}">
          <input type="hidden" name="datecourseParkingYn" id="datecourseParkingYn-hidden" value="N">
        </div>
        <div id="datecoursePetYn-wrapper" class="common common-display"
             th:if="${getDatecourse.datecourseCategory == 'B0003'}">
          <div id="datecoursePetYn-text" class="common-text">
            <label for="datecoursePetYn">반려동물 <br>동반 가능여부</label>
          </div>
          <input type="checkbox" name="datecoursePetYn" id="datecoursePetYn"
                 class="common-margin" value="Y" onchange="fnChgPetYn(this);"
                 th:checked="${getDatecourse.datecoursePetYn == 'Y'}">
          <input type="hidden" name="datecoursePetYn" id="datecoursePetYn-hidden" value="N">
        </div>
        <div id="datecourseMenu-wrapper" class="common common-display">
          <div class="common-text">메뉴</div>
          <input type="hidden" name="datecourseMenuInfo" id="datecourseMenuInfo" value="">
          <div id="datecourseMenu-field">
            <div th:each="menu : ${getDatecourseMenuList}"
                 class="datecourseMenu"
                 th:data-datecourseno="${menu.datecourseNo}"
                 th:data-datecoursemenuno="${menu.datecourseMenuNo}"
                 data-datecoursemenutagstatus="O">
              <input type="hidden" th:name="'menuDatecourseNo' + ${menuStat.index}" th:id="'menuDatecourseNo' + ${menuStat.index}"
                     th:value="${menu.datecourseNo}">
              <input type="hidden" th:name="'datecourseMenuNo' + ${menuStat.index}" th:id="'datecourseMenuNo' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuNo}">
              <input type="hidden" th:name="'datecourseMenuType' + ${menuStat.index}" th:id="'datecourseMenuType' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuType}">
              <input type="hidden" th:name="'datecourseMenuNm' + ${menuStat.index}" th:id="'datecourseMenuNm' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuNm}">
              <input type="hidden" th:name="'datecourseMenuPrice' + ${menuStat.index}" th:id="'datecourseMenuPrice' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuPrice}">
              <input type="hidden" th:name="'datecourseMenuRgstDate' + ${menuStat.index}" th:id="'datecourseMenuRgstDate' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuRgstDate}">
              <input type="hidden" th:name="'datecourseMenuUseYn' + ${menuStat.index}" th:id="'datecourseMenuUseYn' + ${menuStat.index}"
                     th:value="${menu.datecourseMenuUseYn}">
              메뉴명<input type="text" name="datecourseMenuNm" class="datecourseMenuNm" placeholder="메뉴명을 입력하세요."
                          th:value="${menu.datecourseMenuNm}">
              가격<input type="text" name="datecourseMenuPrice" class="datecourseMenuPrice" placeholder="가격을 입력하세요."
                        onkeyup="fnDatecourseMenuPriceKeyup(this);"
                        th:value="${menu.datecourseMenuPrice}"> 원
            </div>
          </div>
          <img th:src="@{/images/plus.png}" id="datecourseMenu-plusImg" class="plusImg" width="25px" height="25px">
          <img th:src="@{/images/minus.png}" id="datecourseMenu-minusImg" class="minusImg" width="25px" height="25px">
        </div>
        <div id="datecourseImageFile-wrapper" class="common-display">
          <div id="datecourseImageFile-text" class="common-text">데이트코스 <br>이미지 등록</div>
          <div id="btnUploadFiles" class="common-margin">
            <label for="realUploadFiles" id="realUploadFiles-label">이미지 업로드</label>
            <input type="file" name="realUploadFiles" id="realUploadFiles" multiple="multiple" accept="image/*">
            <input type="file" name="changedFiles" id="changedFiles" style="display: none; multiple: multiple;">
          </div>
          <p id="file-info">※ 이미지 파일의 경우, 최대 10개까지만 첨부가 가능합니다.</p>
        </div>
        <div id="image-preview" class="common">
          <div th:each="datecourseImage : ${getDatecourseImageList}"
            style="display: inline-block; position: relative; width: 150px; height: 120px;
            margin: 5px; border: 1px solid #ee2d7a; border-radius: 3px; z-index: 1;">

            <!-- index는 0부터 시작, count는 1부터 시작 -->
            <!-- ${datecourseImageStat.index} -> jstl의 ${status.index}와 동일 -->
            <input type="hidden" class="imageGroup" name="imageGroup" th:value="${datecourseImage.imageGroup}">
            <input type="hidden" th:id="'imageNo' + ${datecourseImageStat.index}" th:name="'imageNo' + ${datecourseImageStat.index}"
                   th:value="${datecourseImage.imageNo}">
            <input type="hidden" th:id="'imageNm' + ${datecourseImageStat.index}" th:name="'imageNm' + ${datecourseImageStat.index}"
                   th:value="${datecourseImage.imageNm}">
            <input type="hidden" th:id="'imageRgstDate' + ${datecourseImageStat.index}" th:name="'imageRgstDate' + ${datecourseImageStat.index}"
                   th:value="${datecourseImage.imageRgstDate}">
            <input type="file" th:id="'changedFile' + ${datecourseImage.imageNo}"
                   th:name="'changedFile' + ${datecourseImage.imageNo}"
                   style="display: none;"
                   th:onchange="fnGetChangedFileInfo([[${datecourseImage.imageNo}]], event)">
            <!-- 마지막 이미지 파일일 때, 이미지 파일개수 찍어주기-->
            <input th:if="${datecourseImageStat.last}" type="hidden" id="datecourseImageCnt"
                   name="datecourseImageCnt" th:value="${datecourseImageStat.count}">

            <img th:id="'img' + ${datecourseImage.imageNo}"
                 th:src="@{'/upload/' + ${datecourseImage.imageNm}}"
                 style="width: 100%; height: 100%; z-index: auto; cursor: pointer;"
                 class="fileImg" th:onclick="fnImgChange([[${datecourseImage.imageNo}]])">

            <input type="button" class="btnDel"
                   value="x"
                   th:data-del-file="${datecourseImage.imageNo}"
                   style="width: 30px; height: 30px; position: absolute; right: 0px; bottom: 0px;
												   z-index: 999; background-color: rgba(255, 255, 255, 0.1);"
                   onclick="fnImgDel(event)">

            <p th:id="'fileNm' + ${datecourseImage.imageNo}"
               style="display:inline-block; font-size: 8px; cursor:pointer;"
               th:text="${datecourseImage.imageOriginNm}">
            </p>
          </div>
        </div>
        <div id="btn-wrapper">
          <button type="button" id="btnUpdate">수정하기</button>
          <button type="button" id="btnDelete">삭제하기</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>