<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout-admin}">
	  
<head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/insertHotdeal.css}" />
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>

        <script th:inline="javascript">
            let uploadFiles = [];

            $(function () {
                /*   $("#insertHotdealForm").on("submit", function (e) {
                     if (!$("#hotdealNm").val()) {
                       e.preventDefault();
                       alert("핫딜 상품명을 입력해주세요.");
                       $("#hotdealNm").focus();
                       return;
                     }
                     
                     if (!$("#hotdealEndDate").val()) {
                         e.preventDefault();
                         alert("핫딜 종료일을 입력해주세요.");
                         $("#hotdealEndDate").focuse();
                         return;			
                     }
                     
                     if (!$("#hotdealOfficialSite").val()) {
                       e.preventDefault();
                       alert("핫딜 링크를 입력해주세요.");
                       $("#hotdealOfficialSite").focus();
                       return;
                     }
         	
                     if (!$("#hotdealPrice").val()) {
                       e.preventDefault();
                       alert("기존가를 입력해주세요.");
                       $("#hotdealPrice").focus();
                       return;
                     }
         	
                     if (!$("#hotdealSalerate").val()) {
                       e.preventDefault();
                       alert("할인율을 입력해주세요.");
                       $("#hotdealSalerate").focus();
                       return;
                     }
                     
                     if (!$("#hotdealTel").val()) {
                         e.preventDefault();
                         alert("문의 번호를 입력해주세요.");
                         $("#hotdealTel").focus();
                     }
                   })*/

                $("#uploadFiles").on("change", function (e) {
                    const files = e.target.files;
                    const fileArr = Array.prototype.slice.call(files);

                    for (f of fileArr) {
                        imageLoader(f);
                    }
                });

                $("#insertHotdealForm").on("submit", function () {
                    dt = new DataTransfer();

                    for (f in uploadFiles) {
                        const file = uploadFiles[f];
                        dt.items.add(file);
                    }

                    $("#uploadFiles")[0].files = dt.files;
                });

                /*   $("#hotdealPrice").on("keyup", function () {
                     $("#hotdealPrice").val($("#hotdealPrice").val().replace(/[^0-9]/g, ""));
                     $(this).val($(this).val().replace(/\,/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,'));
                   });
         	
                   $("#hotdealSalerate").on("keyup", function () {
                     $("#hotdealSalerate").val($("#hotdealSalerate").val().replace(/[^0-9]/g, ""));
                   });
         	
                   $("#hotdealTel").on("keyup", function () {
                     $("#hotdealTel").val($("#hotdealTel").val().replace(/[^0-9]/g, ""));
                     $(this).val($(this).val().replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/\-{1,2}$/g, ""));
                   });*/
            })

            function imageLoader(file) {
                uploadFiles.push(file);

                let reader = new FileReader();

                reader.onload = function (e) {
                    let img = document.createElement("img");
                    img.setAttribute("style", "width: 100%; height: 100%; z-index: none;");

                    if (file.name.toLowerCase().match(/(.*?)\.(jpg|jpeg|png|gif|svg|bmp)$/)) {
                        img.src = e.target.result;
                    }


                    $("#image-preview-zone").append(makeDiv(img, file));
                };

                reader.readAsDataURL(file);
            }

            function makeDiv(img, file) {
                let div = document.createElement("div");
                div.setAttribute("style", "display: inline-block; position: relative;"
                    + " width: 150px; height: 120px; margin: 5px; border: 1px solid black; border-radius:3px; z-index: 1;");

                let btn = document.createElement("input");
                btn.setAttribute("type", "button");
                btn.setAttribute("value", "x");
                btn.setAttribute("delFile", file.name);
                btn.setAttribute("style", "width: 30px; height: 30px; position: absolute; border: none;"
                    + " right: 0px; bottom: 0px; z-index: 999; background-color: rgba(255, 255, 255, 0.1);"
                    + " color: red;");

                btn.onclick = function (e) {
                    const ele = e.srcElement;
                    const delFile = ele.getAttribute("delFile");

                    for (let i = 0; i < uploadFiles.length; i++) {
                        if (delFile == uploadFiles[i].name) {
                            uploadFiles.splice(i, 1);
                        }
                    }

                    dt = new DataTransfer();

                    for (f in uploadFiles) {
                        const file = uploadFiles[f];
                        dt.items.add(file);
                    }

                    $("#uploadFiles")[0].files = dt.files;

                    const parentDiv = ele.parentNode;
                    $(parentDiv).remove();
                }

                const fName = document.createElement("p");
                fName.setAttribute("style", "width: 150px; display: inline-block; font-size: 8px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;")
                fName.textContent = file.name;

                div.appendChild(img);
                div.appendChild(btn);
                div.appendChild(fName);

                return div;
            }
        </script>
    </th:block>
</head>

<body>
		<div layout:fragment="content">
		  <div id="ih-content">
		    <h1 style="margin:0;">핫딜 입력페이지</h1>
		    <hr>
		    <div id="ih-form-wrapper">
                    <form id="insertHotdealForm" action="/hotdeal/insertHotdeal" method="post" enctype="multipart/form-data">
                        <div id="hotdealNm-wrapper" class="input_wrapper">
                            <div id="hotdealNm-text" class="label_wrapper"><label for="hotdealNm">핫딜 상품명</label></div>
                            <input type="text" id="hotdealNm" name="hotdealNm" autocomplete="off"
                                placeholder="상품명을 입력해주세요.">
                        </div>
                        <div id="hotdealEndDate-wrapper" class="input_wrapper">
                            <div id="hotdealEndDate-text" class="label_wrapper"><label for="hotdealEndDate">핫딜 종료일자</label>
                            </div>
                            <input type="text" id="hotdealEndDate" name="hotdealEndDate" autocomplete="off"
                                placeholder="핫딜링크를 입력해주세요.">
                        </div>
                        <div id="hotdealOfficialSite-wrapper" class="input_wrapper">
                            <div id="hotdealOfficialSite-text" class="label_wrapper"><label for="hotdealOfficialSite">핫딜 링크</label></div>
                            <input type="text" id="hotdealOfficialSite" name="hotdealOfficialSite" autocomplete="off"
                                placeholder="핫딜링크를 입력해주세요.">
                        </div>
                        <div id="hotdealPrice-wrapper" class="input_wrapper">
                            <div id="hotdealPrice-text" class="label_wrapper"><label for="hotdealPrice">기존가</label></div>
                            <input type="text" id="hotdealPrice" name="hotdealPrice" autocomplete="off"
                                placeholder="가격을 입력해주세요">
                        </div>
                        <div id="hotdealSalerate-wrapper" class="input_wrapper">
                            <div id="hotdealSalerate-text" class="label_wrapper"> <label for="hotdealSalerate">할인율</label>
                            </div>
                            <input type="text" name="hotdealSalerate" id="hotdealSalerate" autocomplete="off"
                                placeholder="할인율을 입력해주세요.">
                        </div>
                        <div id="hotdealSeller-wrapper" class="input_wrapper">
                            <div id="hotdealSeller-text" class="label_wrapper"> <label for="hotdealSeller">판매처</label></div>
                            <input type="text" name="hotdealSeller" id="hotdealSeller" autocomplete="off"
                                placeholder="판매처를 입력해주세요.">
                        </div>
                        <div id="hotdealTel-wrapper" class="input_wrapper">
                            <div id="hotdealTel-text" class="label_wrapper"> <label for="hotdealTel">문의번호</label></div>
                            <input type="text" name="hotdealTel" id="hotdealTel" autocomplete="off"
                                placeholder="문의번호를 입력해주세요.">
                        </div>
                        <div id="hotdealSummary-wrapper" class="input_wrapper">
                            <div id="hotdealDesc-text" class="label_wrapper"><label for="hotdealDesc">핫딜 요약정보</label>
                            </div>
                            <textarea name="hotdealSummary" cols="70" rows="5" id="hotdealSummary"
                                placeholder="핫딜 요약정보 입력란입니다."></textarea>
                        </div>
                        
                        
                        <div id="hotdealDesc-wrapper" class="input_wrapper">
                            <div id="hotdealDesc-text" class="label_wrapper"><label for="hotdealDesc">핫딜 상세설명</label>
                            </div>
                            <textarea name="hotdealDesc" cols="70" rows="10" id="hotdealDesc"
                                placeholder="핫딜 상세설명 입력란입니다."></textarea>
                        </div>
                        <div id="hotdealImageFile-wrapper">
                            <div id="hotdealImageFile-text" class="label_wrapper">핫딜 상품<br>이미지 등록</div>
                            <div>
                                <input type="file" name="uploadFiles" id="uploadFiles" multiple="multiple"
                                    accept="image/*">
                                <label for="uploadFiles">
                                    <div id="btnUploadFiles">파일첨부</div>
                                </label>
                            </div>
                        </div>
                        <div id="image-preview-zone" data-placeholder="파일을 첨부하시려면 파일첨부 버튼을 누르세요"></div>
                        <div id="button-wrapper">
                            <button type="submit" id="btnSub">등록</button>
                        </div>
                    </form>
                </div>
		  </div>
	  </div>
</body>

</html>