<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout-admin}">

<head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mydatecourse.css}" />
    </th:block>

    <th:block layout:fragment="script">
    	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7kzng8jdl4"></script>
        <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>

        <script th:inline="javascript">
            /* 전체선택 버튼 */
            $(function () {
                $("#btnChkall").click(function () {
                    if ($("#btnChkall").text() == "전체선택") {
                        $("input[name=chk]").prop("checked", true);
                        $("#btnChkall").text("선택해제")
                    } else if ($("#btnChkall").text() == "선택해제") {
                        $("input[name=chk]").prop("checked", false);
                        $("#btnChkall").text("전체선택")
                    }
                });

                /* 삭제 버튼 */
                $("#btnDel").click(function () {
                    if ($("input[name=chk]").is(":checked")) {
                        if (confirm("삭제하시겠습니까?")) {
                            $("input[name=chk]:checked").parent().parent().remove();
                            alert("삭제가 완료되었습니다.")
                            $("#board-count").text($("#tbody tr").length);
                        } else {
                            alert("삭제가 취소되었습니다.")
                        }
                    }
                })
				var mapOptions = {
    			center: new naver.maps.LatLng(37.3595704, 127.105399),
    			zoom: 10
				};

				var map = new naver.maps.Map('map', mapOptions);
            });
           
        </script>
    </th:block>
</head>

<body>
    <main>
        <div layout:fragment="content">
            <div id="md-content">
                <h1 style="margin:0;">나만의 데이트코스</h1>
                <hr>
                <div id="md-content-table">
                    <div id="datecourse-userInfo">
                        <img th:src="@{/images/user.png}" style="width:30px; height: 30px; margin-right: 5px;">
                        <div id="datecourse-text">
                            <span></span><span>님의 데이트코스</span><span
                                style="color: #ee2d7a; font-weight: bold">
                                Pick</span>
                        </div>
                        <img th:src="@{/images/heart.png}" style="transform: rotate(25deg); width:30px; height: 30px;">
                    </div>
                    <div id="map"><img th:src="@{/images/map.png}" style="width:100%; height:100%"></div>
                    <div id="table-menu">
                        <div>
                            <button id="btnChkall">전체선택</button>
                            <button id="btnDel">삭제</button>
                        </div>
                        <span><i stlye="font-size:0.8rem;">데이트 코스는 최대 10개까지만 등록가능합니다.</i></span>
                    </div>
                    <table id="mycoursetable">
                        <tr>
                            <th style="width:30px;"></th>
                            <th style="width:100px;">번호</th>
                            <th style="width:500px;">코스명</th>

                        </tr>
                        <tr th:each="datecourse : ${myDatecourseList}">
                            <td><input type="checkbox" name="chk"></td>
                            <td th:text="${datecourse.datecourseNm}"></td>
                            <td th:text="${datecourse.datecourseAddr}"></td>
                        </tr>
                    </table>
                    <div id="list-total">
                        <span style="font-weight:bold; font-size:1.2rem">전체&ensp;<span id="board-count"
                                style="color:#ee2d7a; font-size:28px"></span>개</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>