<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout-admin}">
	  
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/updateHotdeal.css}" />
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>

        <script th:inline="javascript">
            let uploadFiles = [];

            $(function () {
                $("#insertHotdealForm").on("submit", function (e) {
                    if (!$("#hotdealNm").val()) {
                        e.preventDefault();
                        alert("핫딜 상품명을 입력해주세요.");
                        $("#hotdealNm").focus();
                        return;
                    }
                    
                     if (!$("#hotdealEndDate").val()) {
                        e.preventDefault();
                        alert("핫딜 링크명을 입력해주세요.");
                        $("#hotdealEndDate").focus();
                        return;
                    }
                    

                    if (!$("#hotdealOfficialSite").val()) {
                        e.preventDefault();
                        alert("핫딜 판매처를 입력해주세요.");
                        $("#hotdealOfficialSite").focus();
                        return;
                    }


                    if (!$("#hotdealPrice").val()) {
                        e.preventDefault();
                        alert("기존가를 입력해주세요.");
                        $("#hotdealTitle").focus();
                        return;
                    }

                    if (!$("#hotdealSalerate").val()) {
                        e.preventDefault();
                        alert("할인율을 입력해주세요.");
                        $("#hotdealSalerate").focus();
                        return;
                    }
                })

                //input type=file이 변경되면 미리보기 동작
                $("#uploadFiles").on("change", function (e) {
                    //input type=file에 추가된 파일들을 변수로 받아옴
                    const files = e.target.files;

                    //변수로 받아온 파일들을 배열 형태로 변환
                    const fileArr = Array.prototype.slice.call(files);

                    //배열에 있는 파일들을 하나씩 꺼내서 처리
                    for (f of fileArr) {
                        imageLoader(f);
                    }
                });

                $("#updateHotdealForm").on("submit", function () {
                    //마지막으로 btnAtt에 uploadFiles에 있는 파일들을 담아준다.
                    dt = new DataTransfer();

                    for (f in uploadFiles) {
                        const file = uploadFiles[f];
                        dt.items.add(file);
                    }

                    $("#uploadFiles")[0].files = dt.files;
                });
            })

            //미리보기 영역에 들어갈 img태그 생성 및 선택된 파일을 Base64 인코딩된 문자열 형태로 변환하여
            //미리보기가 가능하게 해줌
            function imageLoader(file) {
                uploadFiles.push(file);

                let reader = new FileReader();

                reader.onload = function (e) {
                    //이미지를 표출해줄 img태그 선언
                    let img = document.createElement("img");
                    img.setAttribute("style", "width: 100%; height: 100%; z-index: none;");

                    //이미지 파일인지 아닌지 체크
                    if (file.name.toLowerCase().match(/(.*?)\.(jpg|jpeg|png|gif|svg|bmp)$/)) {
                        //이미지 파일 미리보기 처리
                        img.src = e.target.result;
                    }

                    //미리보기 영역에 추가
                    //미리보기 이미지 태그와 삭제 버튼 그리고 파일명을 표출하는 p태그를 묶어주는 div 만들어서
                    //미리보기 영역에 추가
                    $("#image-preview-zone").append(makeDiv(img, file));
                };

                //파일을 Base64 인코딩된 문자열로 변경
                reader.readAsDataURL(file);
            }

            //미리보기 영역에 들어가 div(img+button+p)를 생성하고 리턴
            function makeDiv(img, file) {
                //div 생성
                let div = document.createElement("div");
                div.setAttribute("style", "display: inline-block; position: relative;"
                    + " width: 100px; height: 100px; margin: 5px; border: 1px solid black; z-index: 1;");

                //button 생성
                let btn = document.createElement("input");
                btn.setAttribute("type", "button");
                btn.setAttribute("value", "x");
                btn.setAttribute("delFile", file.name);
                btn.setAttribute("style", "width: 30px; height: 30px; position: absolute; border: none;"
                    + " right: 0px; bottom: 0px; z-index: 999; background-color: rgba(255, 255, 255, 0.1);"
                    + " color: red;");

                //버튼 클릭 이벤트
                //버튼 클릭 시 해당 파일이 삭제되도록 설정
                btn.onclick = function (e) {
                    //클릭된 버튼
                    const ele = e.srcElement;
                    //delFile(파일이름) 속성 꺼내오기: 삭제될 파일명
                    const delFile = ele.getAttribute("delFile");

                    for (let i = 0; i < uploadFiles.length; i++) {
                        //배열에 담아놓은 파일들중에 해당 파일 삭제
                        if (delFile == uploadFiles[i].name) {
                            //배열에서 i번째 한개만 제거
                            uploadFiles.splice(i, 1);
                        }
                    }

                    //버튼 클릭 시 btnAtt에 첨부된 파일도 삭제
                    //input type=file은 첨부된 파일들을 fileList 형태로 관리
                    //fileList에 일반적인 File객체를 넣을 수 없고
                    //DataTransfer라는 클래스를 이용하여 완전한 fileList 형태로 만들어서
                    //input.files에 넣어줘야 된다.
                    dt = new DataTransfer();

                    for (f in uploadFiles) {
                        const file = uploadFiles[f];
                        dt.items.add(file);
                    }

                    $("#uploadFiles")[0].files = dt.files;

                    //해당 img를 담고있는 부모태그인 div 삭제
                    const parentDiv = ele.parentNode;
                    $(parentDiv).remove();
                }

                //파일명 표출할 p태그 생성
                const fName = document.createElement("p");
                fName.setAttribute("style", "width: 100px; display: inline-block; font-size: 8px; white-space: nowrap;")
                fName.textContent = file.name;

                //div에 하나씩 추가
                div.appendChild(img);
                div.appendChild(btn);
                div.appendChild(fName);

                //완성된 div 리턴
                return div;
            }
        </script>
    </th:block>
</head>

<body>
    <main>	
        <div layout:fragment="content">
            <div id="hu-content">
                <h1 style="margin:0;">핫딜 수정페이지</h1>
                <hr>
                <div id="hu-form-wrapper">
                    <form id="updateHotdealForm" action="/hotdeal/updateHotdeal" method="post" enctype="multipart/form-data">
                        <div id="hotdealNm-wrapper" class="input_wrapper">
                            <div id="hotdealNm-text" class="label_wrapper"><label for="hotdealNm">핫딜 상품명</label></div>
                            <input type="text" id="hotdealNm" name="hotdealNm" autocomplete="off"
                                placeholder="상품명을 입력해주세요." th:value="${getHotdeal.hotdealNm}">
                        </div>
                        <div id="hotdealEndDate-wrapper" class="input_wrapper">
                            <div id="hotdealEndDate-text" class="label_wrapper"><label for="hotdealEndDate">핫딜 종료일자</label>
                            </div>
                            <input type="text" id="hotdealEndDate" name="hotdealEndDate" autocomplete="off"
                                placeholder="핫딜링크를 입력해주세요." th:value="${getHotdeal.hotdealEndDate}">
                        </div>
                        <div id="hotdealOfficialSite-wrapper" class="input_wrapper">
                            <div id="hotdealOfficialSite-text" class="label_wrapper"><label for="hotdealOfficialSite">핫딜 링크</label></div>
                            <input type="text" id="hotdealOfficialSite" name="hotdealOfficialSite" autocomplete="off"
                                placeholder="핫딜링크를 입력해주세요." th:value="${getHotdeal.hotdealEndDate}">
                        </div>
                        <div id="hotdealPrice-wrapper" class="input_wrapper">
                            <div id="hotdealPrice" class="label_wrapper"><label for="hotdealPrice">기존가</label></div>
                            <input type="text" id="hotdealPrice" name="hotdealPrice" autocomplete="off"
                                placeholder="가격을 입력해주세요." th:value="${getHotdeal.hotdealPrice}">
                        </div>
                        <div id="hotdealSalerate-wrapper" class="input_wrapper">
                            <div id="hotdealSalerate-text" class="label_wrapper"> <label for="hotdealSalerate">할인율</label>
                            </div>
                            <input type="text" name="hotdealSalerate" id="hotdealSalerate" autocomplete="off"
                                placeholder="할인율을 입력해주세요." th:value="${getHotdeal.hotdealSalerate}">
                        </div>
                        <div id="hotdealTel-wrapper" class="input_wrapper">
                            <div id="hotdealTel-text" class="label_wrapper"> <label for="hotdealTel">문의번호</label></div>
                            <input type="text" name="hotdealTel" id="hotdealTel" autocomplete="off"
                                placeholder="문의번호를 입력해주세요." th:value="${getHotdeal.hotdealTel}">
                        </div>
                        <div id="hotdealDesc-wrapper" class="input_wrapper">
                            <div id="hotdealDesc-text" class="label_wrapper"><label for="hotdealDesc">핫딜 상세설명</label>
                            </div>
                            <textarea name="hotdealDesc" cols="70" rows="10" id="hotdealDesc"
                                placeholder="상세설명 입력란입니다." th:text="${getHotdeal.hotdealDesc}"></textarea>
                        </div>
                        <div id="hotdealImageFile-wrapper">
                            <div id="hotdealImageFile-text" class="label_wrapper">핫딜 상품<br>이미지 등록</div>
                            <div>
                                <input type="file" name="uploadFiles" id="uploadFiles" multiple="multiple"
                                    accept="image/*">
                                <label for="uploadFiles">
                                    <div id="btnUploadFiles">파일첨부</div>
                                </label>
                            </div>
                        </div>
                        <div id="image-preview-zone" data-placeholder="파일을 첨부하시려면 파일첨부 버튼을 누르세요"></div>
                        <div id="button-wrapper">
                            <button type="button" id="btnSub">수정</button>
                            <button type="delete" id="btnDel">삭제</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>