<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	</th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script th:inline="javascript" src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        
        <script th:inline="javascript">
			$(function() {
				// ================ Map 지도 위치 설정 ===================================
				// 서울
				$(".map-seoul").on("mouseover", function() {
					$(".map-seoul-span").css("display", "block");

				})

				$(".map-seoul").on("mouseout", function() {
					$(".map-seoul-span").css("display", "none");
				})

				// 부산
				$(".map-busan").on("mouseover", function() {
					$(".map-busan-span").css("display", "block");
				})

				$(".map-busan").on("mouseout", function() {
					$(".map-busan-span").css("display", "none");
				})

				// 대구
				$(".map-daegu").on("mouseover", function() {
					$(".map-daegu-span").css("display", "block");
				})

				$(".map-daegu").on("mouseout", function() {
					$(".map-daegu-span").css("display", "none");
				})

				// 인천
				$(".map-incheon").on("mouseover", function() {
					$(".map-incheon-span").css("display", "block");
				})

				$(".map-incheon").on("mouseout", function() {
					$(".map-incheon-span").css("display", "none");
				})

				// 광주
				$(".map-gwangju").on("mouseover", function() {
					$(".map-gwangju-span").css("display", "block");
				})

				$(".map-gwangju").on("mouseout", function() {
					$(".map-gwangju-span").css("display", "none");
				})

				// 대전
				$(".map-daejun").on("mouseover", function() {
					$(".map-daejun-span").css("display", "block");
				})

				$(".map-daejun").on("mouseout", function() {
					$(".map-daejun-span").css("display", "none");
				})

				// 울산
				$(".map-ulsan").on("mouseover", function() {
					$(".map-ulsan-span").css("display", "block");
				})

				$(".map-ulsan").on("mouseout", function() {
					$(".map-ulsan-span").css("display", "none");
				})

				// 세종
				$(".map-sejong").on("mouseover", function() {
					$(".map-sejong-span").css("display", "block");
				})

				$(".map-sejong").on("mouseout", function() {
					$(".map-sejong-span").css("display", "none");
				})

				// 경기
				$(".map-gyunggi").on("mouseover", function() {
					$(".map-gyunggi-span").css("display", "block");
				})

				$(".map-gyunggi").on("mouseout", function() {
					$(".map-gyunggi-span").css("display", "none");
				})

				// 강원
				$(".map-gangwon").on("mouseover", function() {
					$(".map-gangwon-span").css("display", "block");
				})

				$(".map-gangwon").on("mouseout", function() {
					$(".map-gangwon-span").css("display", "none");
				})

				//충북
				$(".map-chungbuk").on("mouseover", function() {
					$(".map-chungbuk-span").css("display", "block");
				})

				$(".map-chungbuk").on("mouseout", function() {
					$(".map-chungbuk-span").css("display", "none");
				})

				// 충남
				$(".map-chungnam").on("mouseover", function() {
					$(".map-chungnam-span").css("display", "block");
				})

				$(".map-chungnam").on("mouseout", function() {
					$(".map-chungnam-span").css("display", "none");
				})

				// 전북
				$(".map-jeonbuk").on("mouseover", function() {
					$(".map-jeonbuk-span").css("display", "block");
				})

				$(".map-jeonbuk").on("mouseout", function() {
					$(".map-jeonbuk-span").css("display", "none");
				})

				// 전남
				$(".map-jeonnam").on("mouseover", function() {
					$(".map-jeonnam-span").css("display", "block");
				})

				$(".map-jeonnam").on("mouseout", function() {
					$(".map-jeonnam-span").css("display", "none");
				})

				// 경북
				$(".map-gyungbuk").on("mouseover", function() {
					$(".map-gyungbuk-span").css("display", "block");
				})

				$(".map-gyungbuk").on("mouseout", function() {
					$(".map-gyungbuk-span").css("display", "none");
				})

				// 경남
				$(".map-gyungnam").on("mouseover", function() {
					$(".map-gyungnam-span").css("display", "block");
				})

				$(".map-gyungnam").on("mouseout", function() {
					$(".map-gyungnam-span").css("display", "none");
				})

				// 제주
				$(".map-jeju").on("mouseover", function() {
					$(".map-jeju-span").css("display", "block");
				})

				$(".map-jeju").on("mouseout", function() {
					$(".map-jeju-span").css("display", "none");
				})


				/* Ranking */
				/* Ranking-frame: ranking에 올라온 게시글 10개를 잡아주는 background */
				$("#ranking-frame").bxSlider({
					touchEnabled : (navigator.maxTouchPoints > 0),
					slideWidth: 280,        // 이미지의 너비
					// slideHeight: 500,    // 이미지의 높이
					maxSlides : 4,          // 이미지의 최대 노출 개수
					minSlides : 4,          // 이미지의 최소 노출 개수
					moveSlides : 2,         // 이미지의 이동 개수
					slideMargin: 28,        // 이미지 사이의 마진
					pause: 5000,            // 이미지의 노출 시간(전환 + 이동포함), 5000=5초
					speed: 1000,            // 이미지의 이동 시간, 2000=2초
					auto: true,             // 자동 화면전환 유무, 기본값: false
					autoHover: true,        // 마우스오버시에 멈춤, 기본값: false
					infiniteLoop: true,    // 반복유무, 기본값: true
					pager:false,            // 블릿의 유무, 기본값: true
					stopAutoOnClick: true,  // 블릿을 클릭한 후x 슬라이드 정지 유무, 기본값 false
					controls:  true,       // 화살표 버튼 유무, 기본값: false
					autoControls:false,     // 재생/정비 버튼 유무, 기본값: false
					// mode: 'vertical'       // 가로/세로 배치, 기본값의 기준: 가로
					useCss: true,
				})

				/* Hot deal */
				$("#hotdeal-frame").bxSlider({
					touchEnabled : (navigator.maxTouchPoints > 0),
					slideWidth: 400,        // 이미지의 너비
					// slideHeight: 500,    // 이미지의 높이
					maxSlides : 3,          // 이미지의 최대 노출 개수
					minSlides : 3,          // 이미지의 최소 노출 개수
					moveSlides : 3,         // 이미지의 이동 개수
					slideMargin: 5,        // 이미지 사이의 마진
					pause: 3000,            // 이미지의 노출 시간(전환 + 이동포함), 5000=5초
					speed: 1000,            // 이미지의 이동 시간, 2000=2초
					auto: false,             // 자동 화면전환 유무, 기본값: false
					autoHover: true,        // 마우스오버시에 멈춤, 기본값: false
					infiniteLoop: true,    // 반복유무, 기본값: true
					pager:false,            // 블릿의 유무, 기본값: true
					stopAutoOnClick: true,  // 블릿을 클릭한 후 슬라이드 정지 유무, 기본값 false
					controls:  true,       // 화살표 버튼 유무, 기본값: false
					autoControls:false,     // 재생/정비 버튼 유무, 기본값: false
					// mode: 'vertical'       // 가로/세로 배치, 기본값의 기준: 가로
					useCss: true,
				})
				
				
				$(".ranking").on("click", function() {
					let datecourseno = $(this).data("datecourseno");
					
					window.location.href = "/main/updateCateDatecourseCnt/" + datecourseno;
				})
				
				$(".hotdeal").on("click", function() {
					// 중괄호 묶으면 Map형태로, 키와 value를 나눌 수 있다.
					// DB에 접속할려면 컬럼이랑, 값이 필요한데 그걸 받기 위해서 map형식으로 받음.
					//let hotdealNo = { dataImage: $(this).attr("data-image") }					
					let hotdealNo = $(this).data("hotdealno");
					
					window.location.href = "/main/getHotdeal/" + hotdealNo;
							
				})
			})
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
	  <div id="main-container">
	    <div id="map-wrapper">
	      <div id="map-frame" >
	      <!-- /board/updateBoardCnt/{boardNo} -->
	        <div class="map" id="map-seoul">
	          <a class="map-a map-seoul" th:href="@{/main/getMapDatecourseList/A0001}">서울</a>
	          <span class="map-span map-seoul-span">Seoul</span>
	        </div>
	        <div class="map" id="map-gyunggi">
	          <a class="map-a map-gyunggi" th:href="@{/main/getMapDatecourseList/A0002}">경기</a>
	          <span class="map-span map-gyunggi-span">Gyunggi</span>
	        </div>
	         <div class="map" id="map-incheon">
	          <a class="map-a map-incheon" th:href="@{/main/getMapDatecourseList/A0003}">인천</a>
	          <span class="map-span map-incheon-span">Incheon</span>
	        </div>
	        <div class="map" id="map-gangwon">
	          <a class="map-a map-gangwon" th:href="@{/main/getMapDatecourseList/A0004}">강원</a>
	          <span class="map-span map-gangwon-span">Gangwon</span>
	        </div>
	        <div class="map" id="map-chungnam">
	          <a class="map-a map-chungnam" th:href="@{/main/getMapDatecourseList/A0005}">충남</a>  
	          <span class="map-span map-chungnam-span">Chungnam</span>
	        </div>
	        <div class="map" id="map-chungbuk">
	          <a class="map-a map-chungbuk" th:href="@{/main/getMapDatecourseList/A0006}">충북</a>
	          <span class="map-span map-chungbuk-span">Chungbuk</span>
	        </div>
	        <div class="map" id="map-sejong">
	          <a class="map-a map-sejong" th:href="@{/main/getMapDatecourseList/A0007}">세종</a> 
	          <span class="map-span map-sejong-span">Sejong</span>
	        </div>
	        <div class="map" id="map-daejun">
	          <a class="map-a map-daejun" th:href="@{/main/getMapDatecourseList/A0008}">대전</a>
	          <span class="map-span map-daejun-span">Daejun</span>
	        </div>
	         <div class="map" id="map-gyungbuk">
	          <a class="map-a map-gyungbuk" th:href="@{/main/getMapDatecourseList/A0009}">경북</a>
	          <span class="map-span map-gyungbuk-span">Gyungbuk</span>
	        </div>
	        <div class="map" id="map-gyungnam">
	          <a class="map-a map-gyungnam" th:href="@{/main/getMapDatecourseList/A0010}">경남</a>
	          <span class="map-span map-gyungnam-span">Gyungnam</span>
	        </div>
	        <div class="map" id="map-jeonbuk">
	          <a class="map-a map-jeonbuk" th:href="@{/main/getMapDatecourseList/A0011}">전북</a>
	          <span class="map-span map-jeonbuk-span">Jeonbuk</span>
	        </div>
	        <div class="map" id="map-jeonnam">
	          <a class="map-a map-jeonnam" th:href="@{/main/getMapDatecourseList/A0012}">전남</a>
	          <span class="map-span map-jeonnam-span">Jeonnam</span>
	        </div>
	        <div class="map" id="map-daegu">
	          <a class="map-a map-daegu" th:href="@{/main/getMapDatecourseList/A0013}">대구</a>
	          <span class="map-span map-daegu-span">Daegu</span>
	        </div>
	        <div class="map" id="map-ulsan">
	          <a class="map-a map-ulsan" th:href="@{/main/getMapDatecourseList/A0014}">울산</a>
	          <span class="map-span map-ulsan-span">Ulsan</span>
	        </div>
	        <div class="map" id="map-gwangju">
	          <a class="map-a map-gwangju" th:href="@{/main/getMapDatecourseList/A0015}">광주</a>
	          <span class="map-span map-gwangju-span">Gwangju</span>
	        </div>
	        <div class="map" id="map-busan">
	          <a class="map-a map-busan" th:href="@{/main/getMapDatecourseList/A0016}">부산</a>
	          <span class="map-span map-busan-span">Busan</span>
	        </div>
	        <div class="map" id="map-jeju">
	          <a class="map-a map-jeju" th:href="@{/main/getMapDatecourseList/A0017}">제주</a>
	          <span class="map-span map-jeju-span">Jeju</span>
	        </div>
	      </div>
	      <img id="map-img" th:src="@{/images/지도1.jpeg}" >
	    </div>
	
	    <!-- 인기 -->
	    <h2 id="ranking-h2">인기 랭킹 TOP 10</h2>
	    <div id="ranking-wrapper">
	      <div id="ranking-frame">
	      <!-- 인기 리스트 -->
	        <div class="ranking ranking-1" th:each="datecourse : ${getRankDatecourseList}" th:data-datecourseno="${datecourse.datecourseNo}">
	          <div class="ranking-div-img">
	            <a><img class="ranking-image" th:src="@{'/upload/' + ${datecourse.imageNm}}" width="200" height="200" ></a>
	          </div>
	          <p style="font-weight:bold; margin-bottom:-5px;" th:text="${datecourse.datecourseNm}"></p>
	          <p style="font-size:13px;" th:text="${datecourse.datecourseSummary}"></p>
	        </div>
	      </div>
	    </div>
	    <!-- 핫딜 리스트 -->
	    <h2 id="hotdeal-h2">핫딜</h2>
	    <div id="hotdeal-wrapper" >
	      <div id="hotdeal-frame">
	      <!-- 핫딜 리스트 -->
	        <div class="hotdeal" th:each="hotdeal : ${getHotdealDatecourseList}" th:data-hotdealno="${hotdeal.hotdealNo}">         
	          <div class="hotdeal-div-img">
	          	<a><img class="hotdeal-image" th:src="@{'/upload/' + ${hotdeal.imageNm}}" width="400" height="400"></a>
	          </div>
	          <p style="font-weight:bold; margin-bottom:-5px;" th:text="${hotdeal.hotdealNm}"></p>
	          <p style="font-size:13px;" th:text="${hotdeal.hotdealDesc}"></p>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>