<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <!-- 스프핑 시큐리티 사용을 위한 -->
	  <!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
            
<body>
	<header th:fragment="header">
    	<div id="container">
		    <!-- header -->
		    <div id="header">
		      <div id="header-logo"> 
		        <h2 id="header-h2">Go Gi 1000</h2>
		        <img id="header-balloon" th:src="@{/images/heart.png}" width="25">
		        <h4 id="header-h4"><span style="color: rgb(238, 45, 122); ">고</span>민 없는 <span style="color: rgb(238, 45, 122); ">기</span>적의 <span style="color: rgb(238, 45, 122); ">1000</span>가지 추천 코스</h4>
		      </div>
		      <div id="header-search-wrapper">
		        <div id="header-search">
		          <a href="#"><img id="header-search-img" th:src="@{/images/search.png}"></a>
		          <input type="search" id="header-search-input" placeholder="지역, 코스명, 음식점 또는 카페" 
		              onfocus="this.placeholder=''" onblur="placeholder='지역, 코스명, 음식점 또는 카페'">
		        </div>
		      </div>
		      <div id="header-login">
		        <ul id="header-login-ul">
		          <li><img id="header-login-ul-image" th:src="@{/images/user.png}"> 로그인 또는 회원가입</li>
		        </ul>
		      </div>
		    </div>
		    <div id="nav">
		      <img id="nav-image" th:src="@{/images/navstyle.png}">
		      <ul id="nav-ul">
		        <div id="nav-ul-li">
		          <li>지역</li>
		          <li>이번주 랭킹</li>
		          <li>핫딜</li>
		        </div>
		        <div id="nav-div-li">
		          <li>마이페이지</li>
		        </div>
		      </ul>
		    </div>
	  	</div>
	</header>
</body>
</html>