<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <!-- 스프핑 시큐리티 사용을 위한 -->
	  <!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
            
<body>
	<header th:fragment="header">
		<div id="container">
			<!-- header -->
			<div id="header">
				<div id="header-top">
					<div id="header-logo">
						<a href="#" class="header-logo-link">
							<img id="header-logo-img" th:src="@{/images/headerLogo.png}" alt="">
						</a>
					</div>
					<div id="header-search-wrapper">
						<div id="header-search">
							<a href="#"><img id="header-search-img" th:src="@{/images/search.png}"></a>
							<input type="search" id="header-search-input" placeholder="지역, 코스명, 음식점 또는 카페"
								   onfocus="this.placeholder=''" onblur="placeholder='지역, 코스명, 음식점 또는 카페'">
						</div>
					</div>
					<div id="header-login">
						<ul id="header-login-ul">
							<li>
								<a href="#" class="header-logo-link"><img id="header-login-ul-image" th:src="@{/images/user.png}">
									로그인 또는 회원가입</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="header-bottom">
					<div id="nav">
						<img id="nav-image" th:src="@{/images/navstyle.png}">
						<ul id="nav-ul">
							<div id="nav-ul-li">
								<li><a href="#" class="nav-list-link">지역</a></li>
								<li><a href="#" class="nav-list-link">이번주 랭킹</a></li>
								<li><a href="#" class="nav-list-link">핫딜</a></li>
							</div>
							<div id="nav-div-li">
								<li><a href="#" class="nav-list-link">마이페이지</a></li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>