<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/getHotdealDetail.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script th:inline="javascript" src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        
        <script th:inline="javascript">
            /* 메인 이미지 슬라이드 */
            $(document).ready(function () {
                $('#main-img').bxSlider({
                    slideWidth: 800,        // 이미지의 너비
                    //slideHeight: 700,    // 이미지의 높이
                    maxSlides: 1,          // 이미지의 최대 노출 개수
                    minSlides: 1,          // 이미지의 최소 노출 개수
                    moveSlides: 1,         // 이미지의 이동 개수
                    autoHover: true,        // 마우스오버시에 멈춤, 기본값: false
                    pager: false,            // 블릿의 유무, 기본값: true
                    stopAutoOnClick: true,  // 블릿을 클릭한 후 슬라이드 정지 유무, 기본값 false
                    controls: true,       // 화살표 버튼 유무, 기본값: false
                });
            });
            $(function() {
				var saleprice1 = $("#salePrice").text()
				var saleprice2 = saleprice1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원"
				$("#salePrice").text(saleprice2)
				 
			})
        </script>
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div id="hotdeal-detail-container">
            <h1 th:text="${getHotdeal.hotdealNm}">롯데월드</h1>

            <!-- 메인 이미지 영역 -->
            <div id="hotdeal-mainimg-container">
                <div id="main-img">
                    <div th:each="datecourseImage : ${getDatecourseImageList}">
                        <img th:if="${datecourseImage.imageNm} != 'null'"
                        	 th:src="@{'/upload/' + ${datecourseImage.imageNm}}" style="width:100%; height:900px">
                    </div>
                </div>
            </div>
            
            <!-- 핫딜 요약설명 부분 -->
            <div id="hotdeal-summary">
                <h2 th:text="${getHotdeal.hotdealSummary}"></h2>
                <br>
            </div>

            <!-- 구분선 -->
            <hr>

            <!-- 핫딜 서브 정보 -->
            <div id="hotdeal-subinfo">
                <div class="hotdeal-line">
                    <p style="font-size: 20px;" th:text="${getHotdeal.hotdealSeller}"><b></b></p>
                </div>
                <div class="hotdeal-line">
                    <h2 th:text="${getHotdeal.hotdealNm}"></h2>
                    <div class="hotdeal-maininfo">
                        <span class="hotdeal-maininfo-text">종료일자 : </span><span
                            th:text="${getHotdeal.hotdealEndDate}"></span>
                    </div>
                </div>
                <div id="hotdealPrice-wrapper">
                    <span id="hotdeal-price" th:text="${#numbers.formatInteger({getHotdeal.hotdealPrice}, 3,'COMMA')} + '원'"></span>
                </div>
                <div class="hotdeal-line" style="justify-content: right;">
                    <div class="hotdeal-maininfo">
                        <span class="hotdeal-maininfo-text" th:text="${getHotdeal.hotdealSalerate} + '%'"></span>
                        <span id="salePrice"
                            th:text="${getHotdeal.hotdealPrice}*(100 - ${getHotdeal.hotdealSalerate})/100"></span>
                    </div>
                </div>
                <div id="hotdeal-sub-wrapper">
                    <!-- 문의 번호 -->
                    <div id="hotdeal-tel" class="hotdeal-sub">
                        <div class="hotdeal-sub-detail">
                            <img th:src="@{/images/tel.png}">
                            <span class="hotdeal-sub-text">문의번호</span>
                        </div>
                        <div id="hotdeal-inquiry">
                            <span class="hotdeal-sub-text" th:text="${getHotdeal.hotdealSeller}"
                                style="margin-right:10px;"></span><span
                                class="hotdeal-sub-text" th:text="${getHotdeal.hotdealTel}"></span>
                        </div>
                    </div>
                    <!-- 구매 페이지 이동 -->
                    <div id="hotdeal-officialSite" class="hotdeal-sub">
                        <div class="hotdeal-sub-detail">
                        
                            <img th:src="@{/images/site.png}">
                            <span class="hotdeal-sub-text">구매페이지로 이동</span>
                        </div>
                        <div class="hotdeal-sub-text">
                            <a th:href="@{${getHotdeal.hotdealOfficialSite}}"<h5 th:text="${getHotdeal.hotdealOfficialSite}" id="site-text"></h5></a>
                        </div>
                    </div>
                    <!-- 핫딜 상세 정보 -->
                    <div class="hotdeal-sub">
                        <div class="hotdeal-sub-detail">
                            <img th:src="@{/images/menu.png}">
                            <span class="hotdeal-sub-text">상세정보</span>
                        </div>
                    </div>
                </div>
                <div id="hotdeal-desc" th:text="${getHotdeal.hotdealDesc}">
                </div>
            </div>
        </div>
    </div>
</body>

</html>