 /* 타이틀 영역 */
        .main-wrap {
            width: 100%;
            margin: 10px auto;
            position: relative;
        }

        .main-wrap img {
            width: 100%;
            height: 130px;
            vertical-align: middle;
        }

        #main-logo {
            position: absolute;
            top: -10px;
            left: 40px;
            width: 50px;
            height: 100px;
            transform: translate(-50%, -50%);
            text-align: left;
            color: white;
            font-size: 50px;
        }

        .main-logo2 {
            position: absolute;
            top: 55%;
            left: 50%;
            width: 20%;
            transform: translate(-50%, -50%);
            color: white;
        }




        /* 아이디찾기 타이틀 */
        #container-main-text {
            line-height: 1em;
            width: 600px;
            margin: 0 auto;
        }

        #main-text {
            float: right;
            width: 440px;

        }

        #main-line {
            display: inline;
            line-height: -2em;
            width: 200px;
        }


        /* 부제목 */
        #container-sub-text {
            font-size: 0.8em;
            white-space: nowrap;
            width: 600px;
            margin: 0 auto;
        }

        #sub-text {
            text-align: center;
            margin-top: -0.5em;
            margin-bottom: 3em;

        }

        /* 아이디 확인 영역 */
        #container-info-text {
            width: 600px;
            margin: auto;
        }

        #info-text {
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        /* 아이디 확인 영역 */

        #container-check-id {
            width: 400px;
            margin: auto;
        }

        /* 테이블 영역 */
        #check_id {
            font-size: 0.9rem;
            margin-bottom: 50px;
            text-align: center;
            width: 400px;
            height: 100px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background-color: lightgray;
        }

        th,
        td {
            margin: auto;
            border: 1px solid black;
        }



        /* 버튼 */

        .btn2 {
            width: 150px;
            margin-top: 40px;
            min-height: 3rem;
            border: none;
            background: rgb(238, 45, 122);
            ;
            color: white;
            font-size: 1em;
            font-weight: 700;
            display: block;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn_inner {
            border-radius: 64px;
            justify-content: center;
            text-align: center;
            display: block;
        }