/* 공통 */
/* 구글 웹 폰트 사용 - Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    margin: 8px;
    /* 구글 웹 폰트 사용 - Noto Sans Korean */
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1350px;
    min-height: 1000px;
    display: flex;
    margin-bottom: 40px;
}

aside {
	min-height: 1000px;
}