 /* 타이틀 영역 */
    .main-wrap{
        width: 1200px;
        margin: 10px auto;
        position: relative;
    }
    .main-wrap img{
        width: 100%;
        height: 130px;
        vertical-align: middle;
    }
    .main-logo{
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translate( -50%, -50% );
        text-align: left;
        color: white;
        font-size: 50px;
    }

    .main-logo2{
        position: absolute;
        top: 55%;
        left: 50%;
        width: 20%;
        transform: translate( -50%, -50% );
        color: white;
    }

    .main-text{
		width: 1000px;
        text-align: left;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
    }

    /* 회원가입 영역 */
    .container{
		padding-top: 100px;
        width: 600px;
        margin: auto;
    }

    /* input box 영역 */

    .input_wrapper {
        position: relative;
        display: flex;
        width: 500px;
        align-items: center;
    }
    
    .label_wrapper1 {
		margin-top: 20px;
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
	}

    .label_wrapper2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
        margin-right: -15px;
	}

    .input_wrapper {
        position: relative;
        display: flex;
        width: 500px;
        align-items: center;
        
    }

    .input input {
        flex-grow: 1;
        border: 0;
        padding: 0;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;
        height: 3rem;
        overflow: hidden;
        order: 3;
        background: #fff;
        outline: none;
        border-radius: 1px solid #929292;
 
    }
    .input_border {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 500px;
        border: 1px solid #929292;
        border-radius: 4px;
        pointer-events: none;
    }

    /* 이메일 영역 */
    .input_email {
        position: relative;
        display: flex;
        align-items: center;
    }
    /* 드롭다운 메뉴 */
    .dropdown {
        position: relative;
        display: flex;
        width: 250px;
        height: 48px;
        font-size: 1em;
        align-items: center;
    }

    /* 버튼 */
    .btn1 {
        width:100px;
        min-height: 3rem;
        border: none;
        background: rgb(238, 45, 122);;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn2 {
        width:20%;
        margin-top: 50px;
        min-height: 3rem;
        border: none;
        background: rgb(238, 45, 122);;
        color: white;
        font-size: 1em;
        font-weight: 700;
        display: block; 
        cursor: pointer;          
        border-radius: 5px;
    }

    .btn_inner {
        border-radius: 64px;
        justify-content: center;
        text-align: center;
        display: block;
    }