/* 공통 */
    /* 구글 웹 폰트 사용 - Noto Sans Korean */
    
  
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	.p {
		font-size:1.1rem;
	}
  	
    body {
      /* 구글 웹 폰트 사용 - Noto Sans Korean */
      margin: 8px;
      font-family: 'Noto Sans KR', sans-serif;
    }
    
    

    /* 메인 타이틀 영역 */
    #datecourse-detail-container {
      margin: 0 auto;
      width: 1200px;
      text-align: center;
    }

    #datecourse-detail-container h1 {
	  font-weight: bold;
      margin-bottom: 25px;
      text-align: center;
    }
    
    /* 게시글 설명 영역 */
    #datecourseDesc-text {
		font-size: 1.2rem;
	}

    /* 메인 이미지 영역 */

    #datecourse-img-container{
      margin-bottom: -50px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    /* 전화 영역 */
    #InfoTel {
		display: flex;
		align-items:center;
	}
    
    /* 메인 검색 영역 */
    #searchDatecourse {
		width: 500px;
	    display: flex;
	    float: right;
	    margin-top: -42.4px;
	    justify-content: right;
	}
	
	#searchNaver {
		height: 30px;
	    background-color: white;
	    border: 0px;
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    font-size: medium;
	}
    
    #searchInputWrapper {
		width: 180px; height: 30px; 
		border: 3px solid #03C75A; 
		float: right;
		display: flex;
		align-items: center;
	}
    
    
    #cateDatecourseSearchInput {
		width:140px;
		font-size: 0.7rem;
		border: none; 
		padding-left: 2px; 
		z-index:1; 
		outline:none;
	}
	
	#searchImg {
		width: 30px;
		margin-right: 4px;
		margin: 2.5px 4px 0 0;
	    display: flex;
	    justify-content: center;
	}
	
	#naverSearch {
		text-decoration: none;
		margin-left: 5px;
		display: flex;
    	align-items: center;
	}
	
    #naverSearch span {
		color: black;
	}
	
	/* 웹사이트 A태그 폰트 */
	#datecourseOfficialSiteA {
		color: #0D98FE;
	}

    /* 데이트코스 설명 영역 */
    #datecourse-main-info{
      width: 500px;
      text-align: center;
      margin: 70px auto 50px;
    }

    /* 데이트코스 상세정보 영역*/
    #datecourse-sub-info{
      margin: auto;
      text-align: left;
      margin-top: 20px;
      width: 900px;
    }
    
    .datecourse-line{
      width: 900px;
      display: inline-block;
      margin-bottom: 10px;
    }
    
    .sub-img{
      width: 50px;
      height: 50px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
      float: left; 
      margin-top: -3px;
    }
    
    .sub-title{
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      float: left;
      margin: 3px 10px 0 0;
    }
    
    .sub-info{
      width: 400px;
      display: inline-block;
      align-items: center;
      margin-top: 5px;
    }
    
    /* 메뉴 가격 영역 */
    .datecourseMenuPrice {
		width:100px;
		text-align:right;
	}

    /* 메뉴 이미지 영역 */
    #menu-img-container{
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      position: relative;
    }
    
    /* 데이트코스 위치 맵 영역 */
    #datecourse-map-container{
      margin: auto;
      margin-bottom: 30px;
      width: 500px;
      height: 300px;
      border: 1px solid black;
    }

    /*데이트코스 댓글 영역 */
    #datecourse-comment-container{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 150px;
      width: 1000px;
    }
    .comment-container{
      display: flex;
      min-height: 120px;
      margin: 10px auto;
      width: 800px;
    }
    
    .comment-right-section {
		width: 700px;
		border-bottom: 1px solid lightgray;
	}
	
    .comment-user{
      border: 1px solid white;
      width: 100px;
      height: 30px;
    }
    .comment-regdate{
      border: 1px solid white;
      width: 100px;
      height: 30px;
    }
    .comment-comment{
      border: 1px solid white;
      width: 700px;
      height: auto;
      margin-bottom: 20px;
    }

    .comment-container img{
      margin-right: 20px;
      
      width: 50px;
      height: 50px;
    }

    .comment-right-top {
      display: flex;
    }

    .comment-hide{
      margin-bottom: 30px;
      text-align: center;
    }
    
    .hrLine {
		 width: 1100px;
		 margin: 20px auto;
	}

  /* 버튼 */
  .btn1 {
	height: 40px;
    display: flex;
    align-items: center;
    margin:5px 0 0 35px;
    float: right;
    background: rgb(238, 45, 122);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    line-height: 40px;
    }
    
    .btn_inner {
        font-weight: bold;
        border-radius: 64px;
        justify-content: center;
        text-align: center;
        display: block;
    }
    
    /* 댓글 작성_장찬영 */
    #comment-wrapper {
		width: 800px; 
		height: 150px; 
		margin: auto;
		display: flex; align-items: center;     
      	justify-content: center; 
	}
    #comment-write {
	  width: 700px; margin: auto;
      display: flex; align-items: center;     
      justify-content: center; 
    }
    #comment-text {
      white-space:pre-line; resize: none;
      font-size: 0.8rem; margin-right: 10px;
      padding: 5px;
      outline: none;
    }
    #comment-button {
      width: 80px; height: 80px; 
      margin-left: 10px; border-radius: 5px;
      border: 1px solid #ee2d7a;
      font-weight: bold; font-size: 1.0rem;
      background-color: #ee2d7a; color: white;
    }
    
    .comment-updDel {
		margin-left: 440px;
	}
    
    .comment-update-click {
		color: black; text-decoration: none;
		font-size: 0.8rem; opacity: 0.7;
	}
	
	.comment-update-click:hover {
		color: black; 
		opacity: 1.0; cursor: pointer;
	}
	
	.comment-update-click:active {
		text-decoration: underline;
	}
	
	.comment-delete-click {
		color: black; text-decoration: none;
		font-size: 0.8rem; opacity: 0.7;
	}
	
	.comment-delete-click:hover {
		color: black;
		opacity: 1.0; cursor: pointer;
	}
	
	.comment-delete-click:active {
		text-decoration: underline;
	}
	
	/* bxslider css 오버라이드 */
	.bx-wrapper {
		z-index: 0;
	}
	
	/* modal css 오버라이드 */
	#exampleModal {
		z-index: 9999;
	}
	
	.carousel-control-prev-icon {
	    background-color: black;
	    border-radius: 35%;	
	    padding: 15px;
	}
	
	.carousel-control-next-icon {
	    background-color: black;
	    border-radius: 35%;
	    padding: 15px;
	}	
	

	
	