/* 공통 */
    /* 구글 웹 폰트 사용 - Noto Sans Korean */
    
  
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

  	
    body {
      /* 구글 웹 폰트 사용 - Noto Sans Korean */
      font-family: 'Noto Sans KR', sans-serif;
    }

    /* 메인 타이틀 영역 */
    #datecourse-detail-container {
      margin: 0 auto;
      width: 1200px;
    }

    #datecourse-detail-container h1 {
      margin-bottom: 50px;
      text-align: center;
    }

    /* 메인 이미지 영역 */

    #datecourse-img-container{
      margin-bottom: -50px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    /* 전화 영역 */
    #InfoTel {
		display: flex;
		align-items:center;
	}
    
    /* 메인 검색 영역 */
    #searchDatecourse {
		width: 500px;
	    display: flex;
	    float: right;
	    margin-top: -30px;
	    justify-content: right;
	}
	
	#searchNaver {
		height: 30px;
	    background-color: white;
	    border: 0px;
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    font-size: medium;
	}
    
    #searchInputWrapper {
		width: 180px; height: 30px; 
		border: 3px solid #03C75A; 
		float: right;
		display: flex;
		align-items: center;
	}
    
    
    #cateDatecourseSearchInput {
		width:140px;
		font-size: 0.7rem;
		border: none; 
		padding-left: 5px; 
		z-index:1; 
		outline:none;
		margin-bottom: 5px;
	}
	
	#searchImg {
		width: 30px;
		margin-left: 2px;
	    display: flex;
	    justify-content: center;
	}
    

    /* 데이트코스 설명 영역 */
    #datecourse-main-info{
      width: 500px;
      text-align: center;
      margin: 70px auto 0;
    }

    /* 데이트코스 상세정보 영역*/
    #datecourse-sub-info{
      margin: auto;
      text-align: left;
      margin-top: 20px;
      width: 900px;
    }
    
    .datecourse-line{
      width: 900px;
      display: inline-block;
      margin-bottom: 10px;
    }
    
    .sub-img{
      width: 50px;
      height: 50px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
      float: left; 
    }
    
    .sub-title{
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      float: left;
      margin-right: 10px;
    }
    
    .sub-info{
      width: 400px;
      display: inline-block;
      align-items: center;
      margin-top: 5px;
    }

    /* 메뉴 이미지 영역 */
    
    #menu-img-container{
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }
    
    
    /* 데이트코스 위치 맵 영역 */
    #datecourse-map-container{
      margin: auto;
      margin-bottom: 30px;
      width: 500px;
      height: 300px;
      border: 1px solid black;
    }

    /*데이트코스 댓글 영역 */
    #datecourse-comment-container{
      margin: auto;
      text-align: left;
      width: 1000px;
    }
    .comment-container{
      display: flex;
      margin: auto;
      width: 800px;
    }
    .comment-user{
       width: 20%;
      border: 1px solid white;
      width: 100px;
      height: 30px;
      text-align: center;
    }
    .comment-regdate{
       width: 20%;
      border: 1px solid white;
      width: 100px;
      height: 30px;
      text-align: center;
    }
    .comment-comment{
       width: 80%;
      border: 1px solid white;
      width: 700px;
      height: auto;
      margin-bottom: 20px;
    }

    .comment-container img{
      margin-right: 20px;
      
      width: 50px;
      height: 50px;
    }

    .comment-right-top {
      display: flex;
    }

    .comment-hide{
      margin-bottom: 30px;
      text-align: center;
    }
    
    .hrLine {
		 width: 1100px;
		 margin: 20px auto 40px auto;
	}

  /* 버튼 */
  .btn1 {
	height: 40px;
    display: flex;
    align-items: center;
    margin:5px 0 0 35px;
    float: right;
    background: rgb(238, 45, 122);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    line-height: 40px;
    }
    
    .btn_inner {
        font-weight: bold;
        border-radius: 64px;
        justify-content: center;
        text-align: center;
        display: block;
    }