#md-content {
    width: 1000px;
    margin-top:20px;
}

#md-content-table {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#datecourse-userInfo {
    display: flex;
    align-items: center;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#map {
    border: 1px solid black;
    width: 700px;
    height: 350px;
    margin-bottom: 50px;
}


#table-menu {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

/* 전체선택 버튼 */
#btnChkAll {
    width: 80px;
    height: 35px;
    background-color: #ee2d7a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
}

/* 삭제 버튼 */
#btnDel {
    margin-top: 5px;
    width: 80px;
    height: 35px;
    background-color: #ee2d7a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
}

/* 데이트 코스 리스트 */
#mycoursetable {
    width: 700px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    border-spacing: 0px;
}

#mycoursetable th {
    background-color: #ee2d7a;
    color: white;
    font-size: 1.25rem;
    border: none;
}

#mycoursetable tr {
    border: none;
}

#mycoursetable tr:not(first-of-type):hover {
    background-color: #F9FAFB;
    font-weight: bold;
}

/* 데이트코스 총 개수 */
#list-total {
	width: 700px;
    text-align: right;
}