/* Container */
#main-container {
  width:1200px; margin:0 auto;
}

/* 
  Map-Wrapper 
  wrapper: 가장 바깥 테둘리  
*/

#map-wrapper { text-align:center;}

#map-frame { position:relative; }

/* 행정구역 하나하나의 style통칭 */
.map {
  position:absolute;  cursor:pointer;
  width:5%; margin-left:-1%;
}

.map-a { text-decoration: none; color: black;  font-size:1rem; }

.map-span {
  display:none;
  font-size:0.7rem;
}

/* 지도위에 지역 표시 */
#map-seoul { top:80px; left:43.8%;}
#map-busan { top:315px; left:56%;}
#map-daegu { top:250px; left:54.5%}
#map-incheon { top:80px; left:40%;}
#map-gwangju { top: 315px; left:42.3%;}
#map-daejun { top:200px; left:47%;}
#map-ulsan { top:290px; left:59%;}
#map-sejong { top: 160px; left:46%;}
#map-gyunggi { top:115px; left:45%;}
#map-gangwon { top: 65px; left:53.5%;}
#map-chungbuk { top: 145px; left:50%;}
#map-chungnam { top:180px; left:42%;}
#map-jeonnam { top:360px; left:42%;}
#map-jeonbuk { top:265px; left:44%;}
#map-gyungbuk { top:190px; left:56%;}
#map-gyungnam { top: 300px; left:52%;}
#map-jeju { top:450px; left:40%;}

#map-img{
  width:30%;
}

/*
 Ranking
 ranking의 최종 background
*/
#ranking-wrapper {
  width:100%; display:flex; justify-content: center;
}


#ranking-frame {
  margin-left:3.2%;
}

.ranking {
	cursor: pointer;
}

/* 이미지 화면 확대 */
.ranking a img {
  transition: all 0.2s linear;
}

.ranking-div-img {
  overflow: hidden;
}

.bx-wrapper {
	max-width:1200px;	
}

.ranking a:hover img {
  transform: scale(1.2);
}

.ranking-image {
  position:relative;
}

/* Hot deal */
/* Hot-deal의 최종 background */
#hotdeal-wrapper {
  width:100%; display:flex; justify-content: center;
}

#hotdeal-h2, #ranking-h2{
  width:100%; display:flex; justify-content: flex-start;
}

.hotdeal {
	z-index: 999;
	cursor: pointer;
}

/* 이미지 화면 확대 */
.hotdeal a img{
  transition: all 0.2s linear;
}

.hotdeal-div-img {
  overflow:hidden;
}

.hotdeal a:hover img {
  transform: scale(1.2);
}