#hu-content {
    width: 1000px;
}

#hu-form-wrapper {
    width: 90%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.input_wrapper {
    margin-bottom: 23px;
    line-height: 2;
    display: flex;
}

.input_wrapper input {
    width: 300px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.input_wrapper ::placeholder {
    text-align: left;
    padding: 5px;
    font-size: 0.9rem;
}

.label_wrapper {
    width: 150px;
    text-align: right;
    margin-right: 35px;
}

#hotdealDesc {
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
}

#hotdealImageFile-wrapper {
    width: 600px;
    display: flex;
    justify-content: left;
}

#btnUploadFiles {
    width: 100px;
    height: 30px;
    padding-top: 4px;
    background-color: #ee2d7a;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

#uploadFiles {
    display: none;
}

#image-preview-zone {
    width: 600px;
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    min-height: 150px;
    margin-left: 180px;
}

#image-preview-zone:empty:before {
    content: attr(data-placeholder);
    padding-left: 10px;
    color: grey;
    font-size: 0.9rem;
}

#button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#button-wrapper #btnSub {
    width: 100px;
    height: 35px;
    background-color: #ee2d7a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
}

#button-wrapper #btnDel {
    width: 100px;
    height: 35px;
    background-color: #ee2d7a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
}